[2019-02-20 15:15] freak4pc commented on #1884
Hi,

this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://rxswift-slack.herokuapp.com/ or some other more appropriate communication channel.

We are asking this because:

* we can't scale development of this project if people are reporting false issues and we are spending lot of time answer

[2019-02-20 15:15] #1884 closed

[2019-02-20 16:09] salah-mohammed commented on #1884
yes , I understand  this .

[2019-02-21 11:28] devxoul commented on #729
I haven't tried yet but you may use `flatMap` to map the result to an error.

[2019-02-21 15:45] grinder81 commented on #1874
I think it's not only `DelegateProxy` there is more place where we will need that fix. Basically, any UI code execution must be in the main thread not in main DQ. We are working on it and will share a full update soon.

[2019-02-23 20:06] Blackening999 commented on #1849
Damn! Finally! I spent 3hrs debugging this. Can someone provide background on this register, just curious why it's needed?

Also,

if you're adding RxImagePickerDelegateProxy.swift to your project, make sure you remove "open"

[code]

[2019-02-23 20:31] Blackening999 commented on #1849
KUDOS to this guy!
http://www.hangge.com/blog/cache/detail_2037.html
どうもありがとう

[2019-02-24 22:51] kzaher commented on #1320
I'm playing with ideas for RxSwift 5.0 [here](https://github.com/ReactiveX/RxSwift/tree/rxswift-5.0-ideas). Didn't have much time to play with this, but hoping to get benchmarks running soon so we can estimate performance impact.

I'm trying to simplify the project structure while doing this, but there is bunch of code in the project :)

I'm publishing this just in case anyone is interested in the

[2019-02-25 23:52] nilehmann commented on #1484
@kzaher, I found a use case for this. I want to process all `CNContact`, but I'd like to do it in chunks. If I had a buffer operator like the one described here I could just use `enumerateContacts` (wrapped in an observable) and then buffer contacts to process them in batch. In general, I think this could be used anytime you have a large (but finite) set of objects and an api exposing a way to ite

[2019-02-28 19:16] lordcodes commented on #1799
Just wondered what issue it would cause with changing the existing targets to build as Static?

Would it cause issues with Cocoapods or building through other means?

[2019-02-28 20:44] freak4pc commented on #1501
Is the plan still to separate SharedSequence and Relays into two separate frameworks? I still think its a bit too much noise (personal opinion) but am open to whatever people think :)

[2019-03-01 15:40] agiokas opened #1890 ".switchLatest() does not retain Observables"
**Short description of the issue**:

.switchLatest() does not retain Observables

**Expected outcome**:

  switchLatest should retain the Observables which created in the closure before

**What actually happens**:

Observable is deallocated

**Self contained code example that reproduces the issue**:

[code]

[code]

**RxSwift/RxCocoa/RxBlocking/RxTest version/commit**

4.4.0

**Platform/Environmen

[2019-03-01 18:33] freak4pc commented on #1890
I'm not sure this is a bug in RxSwift, really. What gave you the impression any operators is supposed to retain weak references this way ?

[2019-03-01 18:34] freak4pc commented on #1875
Closing this to keep discussion running in #1886.

[2019-03-01 18:34] #1875 closed

[2019-03-01 20:12] agiokas commented on #1890
My point was not that they are weak references.

Replace the
[code]

with

[code]

and you will have the same effect

[2019-03-02 18:58] agiokas commented on #1890
A similar example

I would expect that an observable which is create inside the map would me retained by the switchLatest.

How should I handle such situations?

``swift
    weak var weakSubj:BehaviorSubject<NSNumber>?
    func testMemoryAllocationOfToObservable() {
        let disposeBag = DisposeBag()
        let observable = Observable.just(true).map({ [weak self](value) -> Observable<NSNumber>

[2019-03-05 00:28] piin commented on #1482
I have this issue in Xcode 10.1, any updates?

[2019-03-05 09:32] freak4pc commented on #1482
I don't think it's anything related to the codebase as much as it is related to Xcode and Swift. We can't really spend project time correcting Apple's issues unfortunately :)

They've made a stress tester for Swift and I've filed a few radars related to it but these things take a long time, I wouldn't count it being resolved anytime soon.

[2019-03-06 08:08] chaoskyme opened #1892 "force unwrap make crash"
**Short description of the issue**:

 When I use disposeBag, but there is a crash with under code. It's show that `self._disposable!.dispose()` has a fatal error: `Fatal error: Unexpectedly found nil while unwrapping an Optional value`

**Expected outcome**:

  no crash

**What actually happens**:

  crash

**Self contained code example that reproduces the issue**:
The code in the RxSwift/Schedule

[2019-03-06 08:13] freak4pc commented on #1892
Can you provide your code where you have your dispose bag and subscription or it’s someyhing proprietary ?

[2019-03-06 08:19] chaoskyme commented on #1892
Hi, sorry. My code's calling function is complex. When I use RxSwiftCommunity's RxASDataSources and update to the latest version 4.4.1, crash here.

[2019-03-06 08:33] omatrot commented on #1376
Hello, I would like to present my use case. I'm dealing with a bluetooth IoT that send an array of 20 byte at 200Hz. On Android, I have been able to solve the bakpressure problem with an explicit ring buffer of 500 items (onBackpressureBuffer(500)), which holds data for almost 2.5 seconds.

This is the code in Java:

[code]

I'll need to do the same for iOS.
Could someone point me to some guidance

[2019-03-06 08:45] wwdc14 opened #1893 "Type inference problem"
**Short description of the issue**:

  Where is the syntax wrong?

**Expected outcome**:

I hope it can automatically deduce the model type

**What actually happens**:

  But I pass two different names of the structure, it will throw an error❌
  Two structures of the same name, compiled through✔️

**Self contained code example that reproduces the issue**:
[![5B8A021D3C72AE20AE0E6DCDF6D542E2.jpg](h

[2019-03-06 09:18] freak4pc commented on #1893
Hi,

this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://slack.rxswift.org or some other more appropriate communication channel.

We are asking this because:

* we can't scale development of this project if people are reporting false issues and we are spending lot of time answering those d

[2019-03-06 09:18] #1893 closed

[2019-03-06 09:54] kirillsh commented on #1892
Have same issue, reproducing is easy:
`
let disposable = ScheduledDisposable(scheduler: MainScheduler.instance, disposable: Disposables.create())
disposable.dispose()
disposable.dispose()
`
Seems like the following commit is broken: https://github.com/ReactiveX/RxSwift/commit/65efb404c80fe1b23108c8fbb57d05b615e21c93#diff-71e325b5b737d68192bbdea267e6d7e7
Incorrect function `isFlagSet` is used insid

[2019-03-07 14:10] freak4pc commented on #1892
Fixed in #1894

[2019-03-07 14:10] #1892 closed

[2019-03-08 10:37] kzaher commented on #1799
@lordcodes Carthage integration.

[2019-03-08 10:45] lordcodes commented on #1799
@kzaher Oh okay I see, so Carthage requires separate static build targets. Thanks I wasn't aware.

[2019-03-08 18:31] stephencelis commented on #1320
You could use a closed class hierarchy instead of a protocol.

[2019-03-08 22:35] gsbernstein commented on #1673
@jdisho that's only a temporary fix, it will happen again

[2019-03-09 08:01] nikita-leonov commented on #1320
Yeah my fault, you are right @stephencelis . It should not be not a protocol, but a class with private `init`. So not `NeverCompletes` and `Completes` are implement it, but no one else outside of module can do so. Ugly trick, but what else we can do with the current state of the language?

[2019-03-09 13:25] kzaher commented on #1673
Anybody has an idea how to solve this?

[2019-03-09 18:25] freak4pc commented on #1673
It happens a lot and I don't see it being a RxSwift issue, but a Xcode/Swift issue. Proof of that being that cleaning derived data solves this.

[2019-03-09 18:58] agiokas commented on #1890
I just noted that TestObserver is my own Class so here is another example

[code]

I also noticed that the retaining of the mapped value would only be correct if it is NOT an Observable

[2019-03-09 21:39] kzaher commented on #1673
I guess it could still be our issue somehow, but I have no idea what to do.

[2019-03-10 17:49] kzaher commented on #1890
@agiokas

Could you please summarize **what particular API** do you think is failing and **why** do you think it is failing?

I see a lot of code and to be honest don't understand what are you trying to prove.

[2019-03-10 17:49] #1880 closed

[2019-03-10 17:50] freak4pc commented on #1874
Was this resolved in #1882, I guess?

[2019-03-10 17:52] kzaher commented on #1874
It seems like it was. If it wasn't, somebody will report. @ryu1006 open both this issue and this PR and said `Addressing issue: #1874`.

[2019-03-10 17:52] #1874 closed

[2019-03-10 17:53] ryu1006 commented on #1874
This was responded.

[2019-03-10 18:03] agiokas commented on #1890
@kzaher

I think the problem is in the switchLatest() of the Switch,
when nextElementArrived(element: E) is called the element is not retained.

What I want to do is to create an Observable inside of a .map and that Observable should be retained by the .switchLatest()

[2019-03-10 18:06] kzaher commented on #1890
@agiokas You haven't provided any rationale why you would think we are guaranteeing this. We are only retaining references the minimal time we need. If you want to retain something for a longer time, you are responsible for retaining it.

I'm really sorry, but this doesn't look like an issue with this project.

[2019-03-10 18:06] #1890 closed

[2019-03-11 02:50] yuriferretti commented on #1673
I think [this post](http://amro.co/diagnosing-dependency-cycle-between-targets-in-xcode-9-s-new-build-system) could help you. It states xcode 9 but you can take it as 9 or newer

[2019-03-11 15:38] hmlongco commented on #1880
Sorry, was out and just got back. To respond, yes, that usage could be considered non-idiomatic. That said, you know as well as I do that there are a lot of people out there that still use RxSwift in a non-idiomatic, imperative way.

The following code was from a very early RxSwift app...
[code]
Where it suffers from the primary issue shown above. Is it "proper" RxSwift? No. Is it a way for someon

[2019-03-11 15:40] hmlongco commented on #1880
Also note that there were two issues mentioned, the second being that it doesn't make a lot of sense to put an already disposed disposable into the disposebag.  There are many ways in which a subscription can complete before the result of the subscription function is inserted.

[2019-03-11 18:36] gsbernstein commented on #1673
Our organization has switched back to legacy build across the board due to seeing this in rxcocoa and rxswift to avoid clearing derived data every other build. Last time I saw it the cycle was rxoptional -> rx cocoa -> rxoptional.

[2019-03-11 18:37] freak4pc commented on #1673
If this can be reproduced with RxOptional, I'd love to tackle this.
I don't have the time to build 100 times until I find it, and in our project we don't experience this error. (Not using RxOptional, though)

[2019-03-11 18:42] kzaher commented on #1880
@hmlongco

I think it would be hard to win this argument with the following code :)
[code]

There are two cases to consider.
* `updater.update(request)` doesn't complete -> It is a memory leak because it is referencing `self` and dispose bag will never be disposed.
* `updater.update(request)` completes -> then putting the stuff in dispose bag will just increase the amount of disposables until VC d

[2019-03-11 19:35] hmlongco commented on #1880
@kzaher Didn't say it was wonderful, just said it was an early attempt at integrating RxSwift. ;)

The API updater.update(request) would always complete or error, so no leak (good). However, every update would add a new disposable (bad.

Unfortunately, most of the RxSwift "tutorials" out there emphasize always putting the disposable into the bag,  which in this case leads to the ever increasing ba

[2019-03-11 20:02] hmlongco commented on #1673
We had seen this previously when using CocoaPods and when the main project used RxSwift and RxCocoa and that project included a pod that also had RxSwift and RxCocoa as a dependency. The lead there is out, so I'm not sure if the team switched to legacy build or if they simply imported the code directly and dropped the pod.

At any rate it seemed to be related to the Compile Sources / Build Phases

[2019-03-18 05:46] LiYuLong012 commented on #1501
good

[2019-03-19 18:30] DevAndArtist opened #1900 "Crashed on main queue as destroyed dispose bag did not dispose the subscription"
**Short description of the issue**:

An object that holds the dispose bag is deinitialized, but the subscription that is bound to that dispose bag (created on and by the same deinitialized object) calls the `onNext` closure. Everything happens on the main queue which leads to a crash as the closure contains `[unowned self]`, which should be safe to use in mentioned way.

**Expected outcome**:

No

[2019-03-19 20:22] freak4pc commented on #1900
If this is 100% reproducible can you provide a project to repro ?

[2019-03-20 08:28] DevAndArtist commented on #1900
I will see if I can factor out the code from our project into a standalone codebase that is still reproducible.

[2019-03-20 11:00] DevAndArtist commented on #1900
We can close the issue I found the bug it's the order of the stored properties. `DisposeBag` has to be above the `crasher` stored property or it will still execute the `onNext` closure and lead to a crash. It was tricky to stop that issue though.

[code]
Result:
[code]

When we swap the order:
[code]

The result becomes:

[code]

[2019-03-20 11:00] #1900 closed

[2019-03-20 11:17] AlexisQapa commented on #1900
Maybe this should end up in the doc

[2019-03-20 11:20] DevAndArtist commented on #1900
@AlexisQapa feel free to make a PR. ;) It was definitely a very tricky bug to resolve, and I learned a lesson from it.

[2019-03-20 13:05] freak4pc commented on #1900
Seems like a Swift thing, not an Rx thing - but really interesting to be honest. I don't remember ever bumping in to this sort of issue where the order of deallocation matter.

[2019-03-20 16:21] gobetti commented on #1900
Related to #1593?

[2019-03-21 08:45] keithle888 commented on #1780
These are the extensions I'm using... I'm still figuring out how to extend ObservableConvertibleType

[code]

[2019-03-22 05:05] keithle888 commented on #1780
Wrote a working extension :

[code]

[2019-03-23 12:10] magi82 opened #1901 "PublishSubject, BehaviorSubject does not close when it subscribes to the completed event."
**Short description of the issue**:

Hi. I have a question and I raise it.

When subscribing to a stream published to a PublishSubject or BehaviorSubject, it knows that the subscription will terminate when it receives a completed event.

But in the middle as Observable with no onCompleted event with flatMap
If you change it to just again, the subject will not be closed nor will it be completed.

*

[2019-03-23 13:15] RaoulNL commented on #1482
Sure takes a long time... since the issuer started this issue in November 2017...

[2019-03-27 23:46] fb55 commented on #1879
`feedSubscriptions` are observable themselves, which can change their data needs depending on network state and user interactions. All of the data sources are functionally equivalent to behavior relays. Subscribers are removed once they have no data needs anymore, which triggers the current issue once all subscribers are removed.

That is a good explanation, but might not be very intuitive. If you

[2019-03-28 00:02] fb55 opened #1906 "DelegateProxy does not deal with generics"
**Short description of the issue**:

RxStarscream has a [generic implementation](https://github.com/RxSwiftCommunity/RxStarscream/blob/be2a7f91291c7252fe537fec983a96c3c1a92365/Source/RxStarscream.swift#L18) of a `DelegateProxy`. Due to the way `DelegateProxy` works, it only calls `registerKnownImplementations()` for the first observed instance of the generic, breaking all following implementations

[2019-03-28 08:17] courteouselk opened #1907 "Build error 65 with Xcode 10.2 (Swift 5)"
**Short description of the issue**:

RxSwift 4.4.2 fails to build with:
- Xcode 10.2 (10E125)
- Carthage 0.32.0
- iOS platform

**Expected outcome**:

RxSwift builds.

**What actually happens**:

[code]

_Console output_:

[code]

_Log file contents:_

[code]

**Self contained code example that reproduces the issue**:

[code]

**RxSwift/RxCocoa/RxBlocking/RxTest version/commit**

[code]

**Platfor

[2019-03-28 12:31] kzaher commented on #1907
Yeah, it was dumb of us to include swiftlint for all builds. This should have only been turned on for TRAVIS.

I'll make a new release this weekend.

[2019-03-28 12:32] kzaher commented on #1906
How?

[2019-03-28 12:34] kzaher commented on #1901
This is by design. You are not firing `onCompleted`.

[code]

[2019-03-28 12:34] #1901 closed

[2019-03-28 13:16] freak4pc commented on #1907
Dumb might be a bit harsh :)

[2019-03-28 13:58] kzaher commented on #1907
I guess it’s more of a feeling, it should have been obvious to me that this would happen.

I was full of sugar around that time, so hoping that suggar was impairing my judgement.

[2019-03-28 13:59] freak4pc commented on #1907
The problem isn't the fact it runs on builds - the problems is it has rules that cause errors instead of warnings. If everything would be set to warnings, this wouldn't be an issue.

[2019-03-28 15:47] kzaher commented on #1907
@freak4pc I think it should be an error for CI. Otherwise what use do we have of it?

[2019-03-28 16:52] freak4pc commented on #1907
There is a specific flag for causing errors instead of warnings that can be used for CI.

[2019-03-28 17:52] fb55 commented on #1906
The issue seems to be that RxCocoa only checks whether it has already seen the `Delegate` (not the `ParentObject` variant) before calling `registerKnownImplementations()`. The `Delegate` stays the same here and might even be the same for other Rx wrappers, given that RxStarscream uses `NSObjectProtocol` as the delegate type.

Given that `ParentObject` already has a requirement to extend `AnyObject

[2019-03-28 19:13] kzaher commented on #1907
But why should we depend on the behavior a program flag which can change at any time in the future? We can just not run it.

[2019-03-28 19:17] freak4pc commented on #1907
So people developing the project get punting warnings as they build, and not only on CI.

[2019-03-28 19:22] kzaher commented on #1907
I'm not sure that slight convenience is worth it. We have max 10 people at a particular time trying to contribute to the project and a lot more users.

Risking frustrating a lot of users, like we are doing with the latest build, for such small convenience isn't worth it IMHO. Even if this worked perfectly, any new contributor has ~0% chance of passing the CI at first try for any change, so I'm not

[2019-03-28 19:37] kzaher commented on #1906
Commit or PR?

I'm unsure what is your suggestion.

[2019-03-29 10:11] magi82 commented on #1901
@kzaher

I did not enter onCompleted to reproduce the bug.
The important point is that the just operator must be completed,
It does not complete after using the just operator in flatMap.

[code]

[2019-03-29 10:37] kciter commented on #1901
As I know `just` operator is firing `onComplete` when subscribed, but it didn’t.

[2019-03-29 11:08] freak4pc commented on #1907
I think we'll disagree :) That interface didn't change for SwiftLint since it's first release.

The frustration of trying to contribute (as a newcomer) to a project and not knowing you are going against the project's style guide kinda sucks. If it can be avoided, I don't really see a reason why *not* to.

The risk you mention is really non-existent if you make everything warnings by default which

[2019-03-29 11:58] kzaher commented on #1907
IMHO the only thing that matters is that it can change and break us. The fact that it hasn't doesn't mean much.

Even if we wanted to add `swiftlint` for everyone, I wouldn't rely of `swiftlint` to not change. I would rather depend on bash not changing `swiftlint || true` since we are already depending on it.

In any case, we screwed up. I'll make a new release this weekend. I'll add a`LINT` envir

[2019-03-29 13:30] serges147 commented on #1901
I think the key word here is `bind` - it (by design) doesn't forward `.completed` (and under debug issues fatal error for `.error`-s).

[2019-03-30 00:45] tomschulz commented on #1907
Thanks for your work guys. I am new to Carthage and have never used RXSwift, I just need it to build Moya. Right now I am choking on

/Users/tom/SportNinja/SaltTheEarth/Carthage/Checkouts/ReactiveSwift/Sources/Scheduler.swift:187:18: error: 'Hashable.hashValue' is deprecated as a protocol requirement; conform type 'DispatchSourceTimerWrapper' to 'Hashable' by implementing 'hash(into:)' instead

[2019-03-30 08:05] freak4pc commented on #1907
So, two things:

1. I'm pretty sure you can build Moya without Rx (unless you're using RxMoya).
2. That `hash(into:)` thing should be a warning to the best of my memory, interesting that it's causing an error now, but I remember we fixed that specific issue and it seems unrelated to SwiftLint 🤔

[2019-03-30 18:36] kzaher commented on #1907
Hm, it doesn't look like this will be trivial. Xcode 10.2 has changed TSAN behavior again and it ignores our attempts to silence TSAN for atomic operations 😢

[2019-03-30 18:57] freak4pc commented on #1907
Fun times.

[2019-03-30 19:44] kzaher commented on #1907
I think I'm going to just use `NSRecursiveLock` for `AtomicInt`. It will be 10%-20% slower, although nobody will probably notice.

We can think about how to improve performance in 5.0. Don't think we can do anything else right now.

[2019-03-30 19:51] freak4pc commented on #1907
I think it's basically fine. We've tried our best to avoid this with RxAtomic in 4.4.x.

I guess the upside would be you can remove RxAtomic for the time being.

[2019-03-31 12:52] GeekTree0101 commented on #1901
[code]
Observable.create return **NopDisposable** (Creates a disposable that does nothing on disposal.)
(NopDisposable.swift line 29)
[code]

Producer.swift line 18
[code]

Therefore, If you wanna see **expected outcome** , AnonymousObservable needs fire onCompleted for expected outcome.

[2019-03-31 21:58] kzaher commented on #1907
I've changed the `AtomicInt`. 30cf72a533882ddf9f68d3f765a9f0a457bc7df2

I've tried to make it as light as possible to minimize the chances of rename accidents. This will probably be gone in 5.0 anyway.

Since this is more significant change then I've hoped, it would be great if people could smoke test the `develop` branch on their project before I release this and give me thumbs up is everything w

[2019-04-01 04:51] freak4pc commented on #1907
Tagging people with significant code based who might want to smoke test before 5.x: @alanzeino, @keith

[2019-04-01 20:02] TimWatson commented on #1907
`develop` branch builds and runs fine for me for iOS

[2019-04-01 21:18] alanzeino commented on #1907
@kzaher that looks like the `-all_load` issue in the 10.2 release notes

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-01 22:00] RamblinWreck77 opened #1909 "[4.5] Memory leak"
**Short description of the issue**:

Xcode 10.2, when configured to detect memory leaks (Malloc scribble, Malloc Stack -Live Only) is reporting a leak in AtomicInt/BinaryDisposable/DisposeBag. Just noticed this after upgrading to the latest xcode/rxswift combo. It's happening in a fairly generic viewcontroller that defines a dispose bag as a class let and sets up subscriptions in viewDidLoad(). Th

[2019-04-02 07:43] kzaher commented on #1907
@alanzeino Where is that note? https://developer.apple.com/documentation/xcode_release_notes/xcode_10_2_release_notes

[2019-04-02 07:47] kzaher commented on #1907
Oh,

[code]

WTF, how the hell do they decide to release with these kinds of bugs. This is insane. In any case, this is on CocoaPods to solve IMHO.

[2019-04-02 09:01] codepgq opened #1910 "Can't build Carthage with RxSwift in Swift 5, Xcode 10.2"
Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -workspace /Users/panguoquan/Desktop/项目部分/OSChina/CDNLights/CDNLights/Carthage/Checkouts/ReactiveSwift/ReactiveSwift.xcworkspace -scheme ReactiveSwift-iOS -configuration Release -derivedDataPath /Users/panguoquan/Library/Caches/org.carthage.CarthageKit/DerivedData/10.2_10E125/ReactiveSwift/4.0.0 -sdk iphoneos ONLY_ACTIVE_ARCH=NO CODE_SIGNIN

[2019-04-02 09:41] kzaher commented on #1910
Appreciate the humor, but April 1rst was yesterday 😆 .

This made me laugh though 😆

[2019-04-02 09:41] #1910 closed

[2019-04-02 09:49] kzaher commented on #1909
Hi @RamblinWreck77 ,

It is completely possible that we have leaks somewhere in `AtomicInt` but you haven't provided any proofs that we have them.

Automatic memory leaks detector is completely useless. The correct way to detect leaks is:
* Create memory snapshot
* Perform actions that should clean them, like poping VC.
* Create another memory snapshot.
* Check are the expected objects deallocated

[2019-04-02 14:51] RamblinWreck77 commented on #1909
@kzaher Interesting. Popping the parent VC definitely resulted in the "leak" disappearing. I've never seen a false-positive in my project/RxSwift before this update so I thought I'd share. Thanks!

[2019-04-02 14:51] #1909 closed

[2019-04-03 00:33] keith opened #1911 "Build fails on Linux with Swift 5.0"
On Linux with Swift 5.0 release and RxSwift at cce95dd704bc08cd3d69c087a05a6fc3118e2722, doing a `swift build` fails:

[code]

[2019-04-03 02:38] keith commented on #1911
Here's a possible fix for this https://github.com/ReactiveX/RxSwift/pull/1912

[2019-04-03 07:09] kzaher commented on #1911
Can you also fix our CI to point to 5.0 please? Our CI should have caught this. I hve no idea why my local one didn’t catch this. I was using swift:latest in docker.

[2019-04-03 17:59] hmlongco commented on #1764
kzaher,

Just had a use for this yesterday when I attempted to use the new Swift 5 Result type...

[code]
Where compactMap was...
[code]
And actually....
[code]
As Apple had try? result.get() but no corresponding operator to fetch the failure value.

Bottom line though is that optionals are part and parcel of RxSwift and RxSwift could be somewhat better at dealing with them. (Also the oft-mentione

[2019-04-03 20:07] kzaher commented on #1764
@hmlongco
[code]

Please don't write code like this :)

We can add `compactMap`, but please don't use it in this way.

[2019-04-03 20:19] hmlongco commented on #1764
@kzaher

So I guess I'm missing something. I have a trigger action that flapmaps the API call and the result feeds three different observables: one drives a view (I need the view), one drives a processing spinner (I need to show activity in progress), and one drives an error message (if any, but I still need to show it if it occurs).

How else would you do it, assuming you want to avoid Subjects i

[2019-04-03 23:41] dduan commented on #1911
Follow up on #1912: https://github.com/ReactiveX/RxSwift/pull/1914

[2019-04-04 02:12] dduan commented on #1911
Okay, I've uncovered an unfortunate roadblock to Swift 5 on Linux. The [patch](https://github.com/apple/swift-corelibs-foundation/pull/1762/files) to open-source Foundation has another backward-incompatible side-effect in addition to the compilation problem: `Thread.threadDictionary` now rejects values it can't convert to `NSObject`. Why does that matter? Well, one of the values that ends up in th

[2019-04-04 04:29] freak4pc commented on #1911
Would it be possible making RxMutableClass subclass from NSObject on Linux specifically ?

[2019-04-04 08:34] freak4pc commented on #1911
@keith @dduan

I'm not seeing any build issue on Linux aside for using `RunLoopMode` instead of `RunLoop.Mode` (PR for this here: #1915)

I've build using `Swift version 5.0 (swift-5.0-RELEASE)` on Ubuntu 18.04 on Docker.

@dduan I guess what you're suggesting happens is a runtime issue? Do you have some reproducible code to try with ?

[2019-04-04 16:58] dduan commented on #1911
@freak4pc Sorry if wasn't clear. It is a run time issue. You can reproduce it on the `develop` branch in a Swift 5 docker with the following code

[code]

The underlying behavior of NSMutableDictionary can be reproduced in Swift 5 docker thusly (with SwiftPM + XCTest):
[code]

[2019-04-04 17:00] dduan commented on #1911
It's reported here because the cause is the same as the original compile-time issue Keith encountered.

[2019-04-05 06:06] darlhz opened #1916 "Whenever textDidEndEditing is called, UISearchBar.rx.text is always called"
**Short description of the issue**:

  Due to changes related to #1714, it seems now searchBar.rx.textDidEndEditing will always trigger
 UISearchBar.rx.text. When there's some text in the search bar and if user goes back to previous
 screen or goes to another screen, and if there is keyboard on the screen, UISearchBar.rx.text will always be invoked.

**Expected outcome**:

  UISearchBar.rx.text sh

[2019-04-05 21:24] kzaher commented on #1911
Maybe we can make `RxMutableBox` inherit from `NSObject` on `Linux`?

I usually don't run Linux VM, I just use Docker on OSX. The weird thing is that previously `swift:latest` pointed to latest released version of Swift. This doesn't happen now.

Swiftenv also doesn't have Swift 5.0 enabled. I don't understand why do they have issues and how can we add Swift 5.0 on our CI. Thoughts?

[2019-04-05 21:25] freak4pc commented on #1911
@kzaher I've added a PR that solves the issue for me on Docker. I think I'd want to add a test in Anomalies to make sure it doesn't happen again.

@dduan can you test this for your issue?

https://github.com/ReactiveX/RxSwift/pull/1917

[2019-04-05 21:26] freak4pc commented on #1911
I'm not 100% sure on Swift 5 CI, I'll think about this a bit.

[2019-04-05 21:29] kzaher commented on #1911
@freak4pc Regarding #1917. I think we can keep them inside the same file. It is probably not worth to split them in this case. We've used different files to handle different APIs on Linux and OSX, but this is more of a hack to get this working :) Probably adding a comment in the same file why we are doing this would also make sense.

Yeah, have no idea how to add Swift 5.0 to our CI now :(

[2019-04-05 21:29] freak4pc commented on #1911
About #1917, Sure. No problems.

[2019-04-05 21:44] freak4pc commented on #1911
I addressed your feedback on that PR. I think I won't add a test since it would be more helpful to fix the CI. The entire existing test suite would fail on Linux without this patch, anyways.

[2019-04-06 11:33] kzaher commented on #1911
@freak4pc I've removed swiftenv and done manual install on Linux, so now we have 5.0, 4.2 and 4.0 on Linux. One dependency less 💪.

The issue is that your fix somehow doesn't work 😢 .
https://travis-ci.org/ReactiveX/RxSwift/jobs/516547195

It seems to me that `swift(>=4.2)` fails on Linux? Wtf?

[2019-04-06 11:38] freak4pc commented on #1911
Awesome! 👏

Wow, that's so weird. It does seem, though, that you're using Xcode 9.3 on that test - which doesn't have Swift 5 at all. Since you're using `xcodebuild` I don't think the fact `swift` CLI is 5 necessarily matters here.

[2019-04-06 11:39] freak4pc commented on #1911
I think that for that specific test you'd want to use Xcode 10.2 as it's the only version that has the Swift 5 compiler. And if you want to build using Swift CLI - you'll have to use `swift build / swift test`, as far as I know, at least.

[2019-04-06 11:40] kzaher commented on #1911
@freak4pc Linux doesn't have xcodebuild. We aren't even using xcodebuild, but `swift build`. I'm not sure what are you suggesting.

[2019-04-06 12:02] freak4pc commented on #1911
@kzaher Sorry, the travis.yml is quite complex and I don't understand it too well :)
When I build that branch on Docker locally it builds with no issues, which makes me suspect it's some configuration issue.

![all](https://user-images.githubusercontent.com/605076/55669174-e7d20300-587c-11e9-8a73-b7f515b6c93a.png)

[2019-04-06 12:11] kzaher commented on #1911
Ok, so ... what I think is happening is that `swift build` uses package version of swift, which is 4.0 to build it.

I think that if we ditch 4.0 and only support 4.2 everything should work. We need to ditch 4.0 because if doesn't support the `compiler` directive.

I've changed it to be:
[code]
This looks promising.
https://travis-ci.org/ReactiveX/RxSwift/builds/516554264

[2019-04-06 12:17] freak4pc commented on #1911
@kzaher I think the `compiler` thing won't work under Xcode 10.2, though.

I agree removing support for 4.0 makes sense.

[2019-04-06 12:20] freak4pc commented on #1911
Ok so `#if compiler` was introduced in 4.2, it should work:

https://github.com/apple/swift-evolution/blob/74d62ec62b742848ee03005c478eccdc5f7d504d/proposals/0212-compiler-version-directive.md

[2019-04-06 12:22] freak4pc commented on #1911
@kzaher In that case should we keep these Swift 4 CI tests?

![image](https://user-images.githubusercontent.com/605076/55669421-ca526880-587f-11e9-8e90-36b2d2241f03.png)

[2019-04-06 12:24] kzaher commented on #1911
@freak4pc Yes, we are keeping 4.0 support for CocoaPods and Carthage. I've only removed it for swift package manager.

We are using Xcode 10.2 for CI:
https://github.com/ReactiveX/RxSwift/blob/83fee4e3234a04d28b93cbb293d88bfdba537789/.travis.yml#L36-L38

Is there some problem that you see in the `develop` branch? I'm not sure I understand.

[2019-04-06 12:26] freak4pc commented on #1911
There's no problem, You just said you want to Drop Swift 4 but haven't mentioned it's only for SPM. No problems :)

[2019-04-06 12:30] kzaher commented on #1911
Looks like we need to ditch 4.0 support completely :)

https://travis-ci.org/ReactiveX/RxSwift/jobs/516555822

Swift conditional compilation works in a different way than Cs.

I don't want to bump major version for this.

[2019-04-06 12:31] freak4pc commented on #1911
@kzaher As I suspected Xcode 9.3 tests fail.
Xcode 9.3 only includes Swift 4.1, so `#if compiler` won't do.

I don't think you have to drop Swift 4 - I think you have to drop Xcode 9. WDYT?

[2019-04-06 12:39] kzaher commented on #1911
Ok, I guess that the smartest thing we can do is to drop all legacy, clean our CI, clean podfiles and bump the major version, 5.0 that only supports 5.0 and Xcode >= 10.2.

Don't see any downside to that.

Do you want to make a PR for that?

[2019-04-06 12:49] freak4pc commented on #1911
It's a bit of a bummer because that means that your new ideas would actually not be RxSwift 5 ? Or they would just be RxSwift 5.1 ?

I'm wondering if simply trying Xcode 10 only would work, let me make a couple more attempts.

[2019-04-06 13:07] kzaher commented on #1911
I think the for the timeline for the improvements was too ambitious anyway. There is a lot of stuff to think about. We can always include them in 6.0 or 7.0.

[2019-04-06 13:33] freak4pc commented on #1911
@kzaher Seems like dropping Xcode 9.x works. If we support Xcode 10 and above we can support Swift 4, Swift 4.2 and Swift 5:
https://travis-ci.org/ReactiveX/RxSwift/builds/516565086

[2019-04-06 14:03] freak4pc commented on #1911
@kzaher that build mostly passed - it doesn't pass only with CocoaPods / Swift 5 but I'm not entirely sure it's related. I'm not entirely sure how your `validate-podspec.sh` script works (or why it does so many things). If you have thoughts, that'd be great.

[2019-04-06 14:29] freak4pc commented on #1911
@kzaher I think the Pod Lint stage is wrong for some reason - when I try it locally:

`pod lib lint --swift-version=5 RxSwift.podspec`

I'm getting a successful build:

![image](https://user-images.githubusercontent.com/605076/55670822-8ec09a00-5891-11e9-9b76-6936c9ff1b62.png)

[2019-04-06 19:03] kzaher commented on #1911
@freak4pc xcodebuild crashes randomly.

[2019-04-06 19:04] kzaher commented on #1911
Oh, that is something else, probably parameter changed or something.

[2019-04-07 08:23] freak4pc commented on #1911
@keith @dduan I think most of these issues were fixed in #1920, closing this for now.

Let us know if there are any issues :)

[2019-04-07 08:23] #1911 closed

[2019-04-08 09:46] freak4pc opened #1921 "👷‍♂️👷‍♀️RxSwift 5 Pre-Release discussion"
Hey @kzaher & others -

Since RxSwift 5 is around the corner, I took the liberty of making a list of PRs/Issues that were delayed for RxSwift 5.

The goal here is to see if:

* Any of them are easy enough to get into RxSwift 5; or,
* Any are hard to add but are needed for RxSwift 5 (and worth delaying the release for).

Since this is a major version bump we should take some time to think about any

[2019-04-08 09:47] freak4pc commented on #1921
@kzaher the purpose is mainly to see which of these we want to do for RxSwift 5, as long as we're making breaking changes here.

[2019-04-08 09:54] valerianb commented on #1921
Maybe `Variable` can be definitely removed from the repo ? It has been in `Deprecated` for a while now.

[2019-04-08 09:58] freak4pc commented on #1921
@valerianb Great point. I don't think we should entirely remove it, but we probably should move everything from runtime deprecations to hard deprecation (e.g. `@available(*, deprecated)`). Thoughts?

[2019-04-08 11:03] AndroidDeveloperLB commented on #366
What if I have a different RX function that I use?

Example:

[code]

[2019-04-08 11:39] valerianb commented on #1921
Oh I thought there was a similar mechanism already in place with `DeprecationWarner`. But yes if that's not considered enough to push users to transition away from it then we should start with `@available(*, deprecated)` so it can be dropped in a future release.

[2019-04-08 12:53] kzaher commented on #1674
I've been thinking about this, and I think it makes sense to only support `amb` if you want this behavior.

[2019-04-08 12:53] #1674 closed

[2019-04-08 12:55] boardmain commented on #1673
other problem

Analyzing dependencies
[!] CocoaPods could not find compatible versions for pod "RxCocoa":
  In Podfile:
    RxCocoa (~> 5)

None of your spec sources contain a spec satisfying the dependency: `RxCocoa (~> 5)`.

[2019-04-08 12:55] kzaher commented on #1921
Hi @freak4pc, I think that these are small changes we can add.

If you can help with list on top, that would be great.

I think we can deprecate `Variable`.

I think we should also include this. This one is probably the biggest and requires intimate knowledge of the internals so I can take that one.

I've responded to that thread, I think we can close this one. Not sure there is an action point on

[2019-04-08 13:16] freak4pc commented on #1921
I can take over the top list, no problem.

I’m also ok with closing the Completable one- we might be able to tackle this at a later release, I’d leave that to your discretion.

[2019-04-08 13:32] freak4pc commented on #1673
You’re probably directing your Podfile directly to master. If your remove that and target 4.5 you should be fine.

[2019-04-08 21:29] freak4pc commented on #1543
Hey @lucas34 - We'd like to include this change in RxSwift 5, could you rebase on `develop` and finalize this in the next few days? Thanks !

[2019-04-09 03:40] lucas34 commented on #1543
@freak4pc I created this MR to return Single instead of observable https://github.com/ReactiveX/RxSwift/pull/1923

However I did with type conversions from observable to Single. Let me know what do you think. Not sure if it's the ideal solution.

[2019-04-09 09:12] freak4pc commented on #1543
Oh I didn't realize this is an issue and not a PR :)
Why don't you close that one and I'll take care of it.

[2019-04-09 17:33] kzaher commented on #1916
Hi @darlhz ,

Yep, there is no guarantees in the API that you will only get called with unique values. We do the same of `UITextField`.

In the case of `UITextField` it's even more complicated because autocorrect can change the content.

We can't add `if != oldValue` in the extension because you could have programatic update to text field which we can't detect, and then a valid update with the sam

[2019-04-09 17:33] #1916 closed

[2019-04-09 17:35] kzaher commented on #1799
@freak4pc We should also tackle this as a part of Swift 5.0 #1921

[2019-04-09 18:02] freak4pc commented on #1799
I'm not too knowledgable with (or a fan of) Carthage. @mfcollins3 could you build a PR around this?

[2019-04-09 19:09] hmlongco commented on #1764
@kzaher So if I wanted to do a PR adding compactMap, would we do it simply as...
[code]
Or would we want to add it as a full-fledged operator with its own class, sink, etc.. so as to avoid  generating three operations, sinks, disposables, etc.. behind the scenes each time it was used?

[2019-04-09 19:13] kzaher commented on #1764
@hmlongco Like map, not a composition.

[2019-04-09 19:29] hmlongco commented on #1764
Somewhat cleaner example using the materialize operator instead of Result.
[code]

[2019-04-10 20:13] freak4pc commented on #1543
Fixed in #1923.

[2019-04-10 20:13] #1543 closed

[2019-04-10 20:13] freak4pc commented on #1501
Done in #1924.

[2019-04-10 20:13] #1501 closed

[2019-04-10 20:18] freak4pc commented on #1625
@kzaher I might do this as well for RxSwift 5 after you tackle the DispatchTimeInterval thing

[2019-04-11 18:56] Mylittleswift opened #1927 "Swift Compilers 5.0/4.2 Error"
**Short description of the issue**:
Import RxSwift
Module compiled with Swift 5.0 cannot be imported by the Swift 4.2.1 compiler: /Users/.../Carthage/Build/iOS/RxSwift.framework/Modules/RxSwift.swiftmodule/arm64.swiftmodule

**Xcode version**:
Issues in both cases:
1. Xcode 10.2 using Swift 4.2.4 toolchains
2. Xcode 10.1 (Swift 4.2.4)

**Installation method**:
  - Carthage

**I have multiple versi

[2019-04-11 19:12] kzaher commented on #1799
I wonder is it possible to just replace from dynamic library to static library and this is all that it takes.

[2019-04-11 19:15] freak4pc commented on #1799
Would that be an issue for SPM?

[2019-04-11 19:36] freak4pc commented on #1927
This isn't a library problem, but a Carthage problem. Carthage probably built using the Swift 5 compiler, and you tried running it in Xcode 10.1, which doesn't have that compiler.

[2019-04-11 20:02] mfcollins3 commented on #1799
@freak4pc Sorry, I forgot about this issue. I tried a while back to do this, but ran into issues getting the test suite to build properly. I’ve been using my own fork (https://github.com/nakedsoftware/RxSwift; see the `carthage-static-frameworks` branch) for my apps and forgot to go back to try to fix the test issue.

Basically in my fork, I just duplicated all of the targets using Xcode and made

[2019-04-11 20:04] freak4pc commented on #1799
I really don't think duplicating all the targets just to get Carthage static libraries to work is a reasonable solution. If we can make the current target static and have all dependency managers work this way, that'd be the better choice, as @kzaher mentioned.

[2019-04-11 20:07] freak4pc commented on #1799
I made an attempt here, lets see if CI eats it up: https://github.com/ReactiveX/RxSwift/pull/1928

[2019-04-11 20:17] mfcollins3 commented on #1799
@freak4pc I’m fine with that since my ultimate goal is that I want it as a static framework and not a dynamic framework now that Xcode supports them. Since I’m just a consumer and not a core maintainer, that’s not my call to change the existing targets and how everyone consumes RxSwift. But you have my full support if you want to make that change.

[2019-04-11 20:18] freak4pc commented on #1799
Yeah I 100% understand. I was just referring to the suggestion of making that PR, I don't think it would be a good solution since it impacts other non-Carthage consumers (which are the majority).

[2019-04-11 20:26] datalogics-kam commented on #1927
Even if you tell Xcode 10.2 to use Swift 4.2, it's building with the Swift 5.0 compiler, and the Swift 5.0 ABI. Or, it maybe downloaded binaries built with 5.0.

I generally get around this by running Carthage with `--no-use-binaries` so it builds with the Xcode I'm using, and set the `DEVELOPER_DIR` environment variable to point at that Xcode to make sure.

[2019-04-11 20:27] freak4pc commented on #1927
In any sense, since this is not a RxSwift issue, it would be better directing this to our slack channel or Stack Overflow. Thanks !

[2019-04-11 20:27] #1927 closed

[2019-04-12 16:56] hmlongco commented on #1921
@freak4pc Would love to have the compactMap PR in 5.

[2019-04-12 16:59] freak4pc commented on #1921
It's in the list (look at the end) ;-)

[2019-04-12 17:03] hmlongco commented on #1921
Ummmm.... I could have sworn....

[2019-04-12 17:31] freak4pc commented on #1799
Opened a bug in the Swift compiler: https://bugs.swift.org/browse/SR-10470

[2019-04-14 03:56] LucianoPAlmeida commented on #1907
Hey @kzaher :))
I know is a little later to the discussion, but I was playing around with the TSan and `RxAtomic` branch and I think I've found an approach that seems like a solution for the issues still maintaining the `RxAtomic`.
But actually, you guys already removed the whole module so maybe is the goal to remove it already.
I posting this just in case you want to take a look to see and test i

[2019-04-14 04:16] freak4pc commented on #1907
Hey, we actually already dropped RxAtomic in favor of AtomicInc (with RecursiveLock). I think kruno spent too much time chasing down TSAN oddities so it made sense to stop fiddling with it:)

[2019-04-14 04:27] LucianoPAlmeida commented on #1907
Yeah @freak4pc :))
I've noticed that, was just curious about the issue and want to drop this as an option to you guys maybe consider in a discussion moving forward 👍

As you mention before: "Fun times" 😆

[2019-04-14 04:29] freak4pc commented on #1907
As always, appreciate your help 🙏🙏

[2019-04-14 05:52] ioninks commented on #1851
Hi, @kzaher,
Thank you very much for a clarification. I guess we can close this issue.

[2019-04-14 05:52] #1851 closed

[2019-04-14 15:47] kzaher commented on #1921
@freak4pc I've refactored schedulers. I don't think there is any more confusion with take and count.

[2019-04-14 15:48] kzaher commented on #1472
This should not be even theoretically possible. We've refactored schedulers in 5.0 to take dispatch interval directly.

[2019-04-14 15:48] #1472 closed

[2019-04-14 15:50] kzaher commented on #1625
There is no more ambiguity.

Now it it's
[code]

I'm not sure is this still a problem. Feel free to reopen this if you see something problematic.

[2019-04-14 15:50] #1625 closed

[2019-04-14 15:55] kzaher commented on #1780
This has been here for a long time, but I don't think we should include this extension. I think these kinds of operations should be easily possible with `RxFeedback` or some higher level APIs.

This doesn't look like something low level to me. We've merged `retryWhen` because it was hard to do customizable retries, but I'm unsure was even that a good decision and should we pull it out.

[2019-04-14 15:55] #1780 closed

[2019-04-14 15:57] freak4pc commented on #1625
There's no type ambiguity, but I still thing we should disambiguate the signature.

Either making the first variation `take(count:)` or the second one either `take(duration:)` or `take(for duration:)`.

Even though the types are different, I don't feel it's enough to understand what it does.

[2019-04-14 16:07] freak4pc commented on #1921
I mentioned on the other thread that I still think it's worth adding a label for one of them to differentiate. Types alone aren't enough in my personal opinion.

[2019-04-14 16:29] DevAndArtist commented on #1921
@kzaher @freak4pc I opened a PR to fix `resultSelector` mistakes.

https://github.com/ReactiveX/RxSwift/pull/1930

[2019-04-14 16:54] freak4pc commented on #1799
I don't think we can do this until there's a newer Xcode version that resolves this known issuem, from Xcode 10.2 release notes:

The workaround doesn't seem to work (we already use WMO and there's no binary client to try `-all_load` on)

[2019-04-14 16:57] freak4pc commented on #1673
@jdisho Or any other person with this issue, could any of you try Xcode 10.2 with the `develop` branch and see what's your status with it?

[2019-04-15 07:18] jdisho commented on #1673
I can give this a try! @freak4pc

[2019-04-15 19:02] #1879 closed

[2019-04-15 19:07] kzaher commented on #1921
I think that the last blocker for 5.0 is #1799.

[2019-04-15 19:08] freak4pc commented on #1921
We won't be able to release this for 5.0 because of the Xcode 10.2 Swift 5 issue I've mentioned. We should release without it.

Should we also leave the `take()` overloads as is? I still think it's worth adding a label to one of them at least.

[2019-04-15 19:14] kzaher commented on #1921
This is swift `prefix` api. Which is similar to our `take`.

https://developer.apple.com/documentation/swift/array/1689487-prefix

It doesn't have label for count and we don't have a label for time operators.

I think that the problem was worse before when you could specify a constant which could mean two different overloads.

Right now it should be more clear. I'm personally fine with the current

[2019-04-15 19:16] freak4pc commented on #1921
Sounds good. I think this concludes the RxSwift 5 content we discussed unless you have any more thoughts.

[2019-04-15 19:47] freak4pc commented on #1921
@kzaher Actually prefix has multiple overloads and anything aside from the "count" one has a label ..
![image](https://user-images.githubusercontent.com/605076/56160675-79094e00-5fd0-11e9-9f23-a8689b0a4afd.png)

[2019-04-15 20:15] kzaher commented on #1921
@freak4pc I know, that's what I've posted that link.

[2019-04-15 20:16] freak4pc commented on #1921
Ah, I misunderstood. I was also referring to labeling the duration overload, not the count one.

I though of either `take(duration:)`, or `take(for duration:)`. WDYT?

[2019-04-15 20:51] kzaher commented on #1921
I think that `take(for:)` reads better, but `for` is a keyword and not really describing temporal component IMHO. Just Google `take for` and you'll get something like "take for a word" as a top hit.

You look at this as a decision for a single operator. I look at this as a decision to go through all temporal operators and decide new labels for each of them and deprecate the old ones also.

Without

[2019-04-15 20:57] kzaher commented on #1921
Does anyone know of any project that works with Carthage and static libraries?

[2019-04-15 20:57] freak4pc commented on #1921
That's a fair point @kzaher , but actually there is a precedence for using `for` as a label:

https://developer.apple.com/documentation/uikit/uibutton/1624022-title
https://developer.apple.com/documentation/foundation/datecomponents/2292889-value

And we even have a `DelegateProxy(for proxyType:)` initializer inside RxSwift ATM.

There are many more. There's no problem with using `for:` as a label

[2019-04-15 21:08] freak4pc commented on #1799
This question will be better here I think - @lordcodes @mfcollins3 Are any of you using a Static Library with Xcode 10.2 and the Swift 5 compiler?

[2019-04-15 21:20] danielt1263 commented on #1921
I think `take(for:)` (or any other conjunction) is only a good idea if the type of the argument is clear in context. In the case of duration, not only would the floating point value not be clear in context, but there are a couple of different types that could be passed. Better would be `take(forDuration:)` or `take(duration:)`.

[2019-04-15 21:21] freak4pc commented on #1921
Don't forget it's now a `DispatchTimeInterval`, so I think the context is quite obvious (as opposed to the previous implementation that used `TimeInterval`).

In any way, I agree with Kruno that we shouldn't rush this, we can always do this later on. The disambiguation achieved with the schedulers refactor should be satisfactory for now.

[2019-04-15 21:44] mfcollins3 commented on #1799
Yes, I just upgraded my apps over the weekend to Swift 5 and Xcode 10.2, and I upgraded my fork of RxSwift to the latest release. It's working fine for me. In my apps, I have a single *Core* dynamic framework that links all of my static frameworks and uses the '-all-load' and '-ObjC' arguments.

One thought on the issue above. In my workspace, I use playgrounds for prototyping ideas. I am able to

[2019-04-16 05:27] freak4pc commented on #1799
The playground isn’t the problem anymore, it’s the fact since we are a provider and not a consumer, we can’t really help much with -all_load in our tests. I guess we could still release it and ask consumers to add the flag but I’m worried it would cause some confusion.

[2019-04-16 10:04] kzaher commented on #1799
@mfcollins3 Can you please tell us some other open source frameworks that have static frameworks and that are Carthage compatible?

I would want to make sure we get CI right and see what they are doing for their CI.

[2019-04-16 10:36] waploaj opened #1934 "_lock' is inaccessible due to 'private' protection level"
**Short description of the issue**:

  After pod installing for the first time,  I'm unable to compile and am stuck on DisposeBag.swift this func i get error
[code]

**Expected outcome**:

  _what you expect to happen goes here_

**What actually happens**:

  _what actually happens goes here_

**Self contained code example that reproduces the issue**:

[code]

**RxSwift/RxCocoa/RxBlocking/RxTest v

[2019-04-16 11:23] mfcollins3 commented on #1799
@freak4pc The -all_load flag isn’t necessary by consumers. It would only be necessary in the scenario where you create a shared dynamic framework like I am doing. In my case, I have a shared Core dynamic framework that I link most of my static frameworks in. I do this to share RxSwift with my main app and the three extensions that I distribute. In the case where someone isn’t doing this and is lin

[2019-04-16 11:27] freak4pc commented on #1934
Which version of RxSwift are you using? It looks like an old version, I'm not seeing any locks in DispatchQueueConfiguration: https://github.com/ReactiveX/RxSwift/blob/master/RxSwift/Schedulers/Internal/DispatchQueueConfiguration.swift

The code you mention seems to come from DisposeBag but it's still not the latest version: https://github.com/ReactiveX/RxSwift/blob/65efb404c80fe1b23108c8fbb57d05b

[2019-04-16 11:30] bobgodwinx commented on #1799
@mfcollins3 Do you have a branch with a concrete example? Can I look at it? Please add the link if possible thanks

[2019-04-16 11:47] waploaj commented on #1934
@freak4pc am using version 4.0 and sorry for clarification its in disposebag.swift. and am having another issue in
1. schedule(deadline:repeating: leeway) is unavailable on (on DispatchQueueConfiguration.swift line 47)
[code]

[2019-04-16 11:59] mfcollins3 commented on #1799
@bobgodwinx Are you looking for a consumer app example? I can put together a simple one and put it in a public repo for you later this morning. My private repos for my apps include about 1GB of LFS data and may be too big to be good examples, but I can give you temporary access to one if you would prefer that. I pre-build the Carthage frameworks and include them in LFS to improve build times for C

[2019-04-16 12:14] bobgodwinx commented on #1799
@mfcollins3  I just want a simple `Hello world` App it doesn't have to do anything actually. + the command you used with `Carthage staticlib` . The reason I am asking is to be 💯 sure that this error is not coming from [Swift 5.0](https://bugs.swift.org/browse/SR-10470) because it was working with swift 4.2 I already made some builds of `RxSwift` before and it worked but now it seems to be failing.

[2019-04-16 14:41] freak4pc commented on #1934
Could you try a newer version of RxSwift? e.g. 4.4.2 or 4.5 ?

[2019-04-16 14:49] waploaj commented on #1934
is it compatible with swift 3.x

[2019-04-16 15:18] vil4max opened #1935 "Crash. Debug.swift line 32 logEvent(_:dateFormat:content:)"
**What actually happens**:

  App did crash. Details in the screenshot
![1555427216209](https://user-images.githubusercontent.com/1402189/56222040-fc2fb000-6073-11e9-9a6c-a02455102c84.jpg)

**RxSwift/RxCocoa/RxBlocking/RxTest version/commit**

**Platform/Environment**

  - [+] iOS
  - [ ] macOS
  - [ ] tvOS
  - [ ] watchOS
  - [ ] playgrounds

**How easy is to reproduce? (chances of successful rep

[2019-04-16 15:25] vil4max commented on #1935
I checked. can you check my logs?

[com.integration.playhera.dev_issue_crash_d8352fc727214ed8834b1fc29eb2ac0c_DNE_0_v2.txt](https://github.com/ReactiveX/RxSwift/files/3085609/com.integration.playhera.dev_issue_crash_d8352fc727214ed8834b1fc29eb2ac0c_DNE_0_v2.txt)

[2019-04-16 17:03] freak4pc commented on #1934
I believe up to 4.2.0 or 4.3.0 still supports Swift 3, but it's best to just experiment ;)

[2019-04-16 17:04] freak4pc commented on #1935
Are you on the latest version of RxSwidft?

[2019-04-16 17:16] mfcollins3 commented on #1799
@bobgodwinx I put together the sample for you. You can find it here: https://github.com/mfcollins3/RxSwift-Swift5-Demo

What I did was that I took my fork of RxSwift and modified the branch that I created for generating static frameworks using my duplicate target technique. I changed the Swift language version for the RxSwift frameworks to compile with Swift 5. You can see that on the `swift-5-sta

[2019-04-16 18:01] vil4max commented on #1935
ok, I got you. we use 4.2.0, but also we use other rx frameworks, which use RxSwift, you can see their in screenshot

![1555437363216](https://user-images.githubusercontent.com/1402189/56232910-84b94b00-608a-11e9-8842-1d6867bce139.png)

[2019-04-16 18:01] freak4pc commented on #1935
I'd suggest bumping to a higher version (e.g. 4.5.0).

[2019-04-16 18:11] vil4max commented on #1935
ok, yep, its really interesting question, why we use old version) anyway, thanks a lot!

[2019-04-16 18:11] #1935 closed

[2019-04-17 06:42] waploaj commented on #1934
Am still getting the same error. Am try to understand what its the cause can you please assist  me if you don't mind?  can i share the repo with you

[2019-04-17 12:24] bobgodwinx commented on #1799
@kzaher, @mfcollins3 , @freak4pc  This looks good to go. It works seamlessly in `Swift 5.0` the only thing is that the `CI` or people who uses `Carthage` should have at least `Carthage 0.31.0` or even better [Carthage 0.33.0](https://github.com/Carthage/Carthage/releases/tag/0.33.0) which I used to perform all my tests.

## Here is my Carthage command:

`carthage bootstrap --no-use-binaries --cach

[2019-04-17 12:40] freak4pc commented on #1799
I don't think there would be issues for users using the `staticlib` branch - but the CI is failing and I'm not entirely sure how to resolve it. Do you mind taking a look there @bobgodwinx ?

[2019-04-17 19:34] bobgodwinx commented on #1799
@freak4pc sure I can take a look asap free. I guess it's better to take it from this [repo](https://github.com/nakedsoftware/RxSwift/tree/swift-5-static) or do you have another branch in mind? please do link it down here.

[2019-04-17 19:36] freak4pc commented on #1799
There’s a staticlib branch in this repo you can work on.

[2019-04-17 19:43] bobgodwinx commented on #1799
I guess I don't see the branch 👉🏾 `fatal: Couldn't find remote ref staticlib`

[2019-04-17 20:32] freak4pc commented on #1799
Sorry - I guess I removed it after i failed :) it should be there again. Basically the first commit there should be enough to make it work but then the CI is the tricky part.

[2019-04-17 23:02] mfcollins3 commented on #1799
@freak4pc @bobgodwinx I had some time today, so I pulled down the repo and checked out the `staticlib` branch. I first verified that I had the same issue as Travis when I ran the `./scripts/all-tests.sh iOS` command. Then I managed to get it to work (for me, at least).

1. In AllTests-iOS, add the `-all_load` flag to the **Other Linker Flags** setting.
2. In **Build Phases** > **Link Binary with L

[2019-04-17 23:27] mfcollins3 commented on #1799
I had a couple of extra minutes and was also able to get the tvOS and macOS tests to pass following the instructions above. Not sure about Linux. I don't have access to a Linux environment at the moment and haven't used the raw Swift tools or SPM.

[2019-04-18 06:36] NeverwinterMoon opened #1939 "flatMap to Completable does not execute subscribe block"
**Short description of the issue**:

When flatmapping to Completable, the subscribe block is not called, but the subscription is triggered.

**Expected outcome**:

Subscribe block is called.

**Self contained code example that reproduces the issue**:

[code]

**RxSwift/RxCocoa/RxBlocking/RxTest version/commit**

4.5.0

**Platform/Environment**

  - [x] iOS
  - [ ] macOS
  - [ ] tvOS
  - [ ] watchO

[2019-04-18 07:26] freak4pc commented on #1939
Completion inside a flatMap doesn’t complete the outer sequence.

[2019-04-18 07:44] NeverwinterMoon commented on #1939
@freak4pc So this is by design then? It's super-unobvious to me. I have some API calls that I don't care to get the result data for and they are all Completable. But I certainly would want to have outer sequence react to "completed" events... Just like in my example - a user presses a button, we make a call and then just close the page after the call is completed.

[2019-04-18 10:48] freak4pc commented on #1799
Trying this here:
https://travis-ci.org/ReactiveX/RxSwift/builds/521661290

[2019-04-18 11:22] freak4pc commented on #1939
This actually works just fine for me

[code]

[2019-04-18 11:59] NeverwinterMoon commented on #1939
@freak4pc Tried your example directly in my codebase - worked. Replaced only the Observable part - to button.rx.tap - stopped working. But the same tap even works fine when flat mapping Single.

[2019-04-18 13:00] freak4pc commented on #1939
Yeah - think about it, if a flatMap completion would terminate the outer stream, it would mean that no more button taps would be registered in your stream, which don't really make sense.

As I mentioned, this is planned behavior. My example above worked because the "just" stream itself terminated immediatley.

[2019-04-18 13:00] #1939 closed

[2019-04-18 13:25] NeverwinterMoon commented on #1939
Thanks for the explanation, I understood what you meant. Still, in my case, termination of tap evens would make sense and was exactly what I wanted. The idea was exactly that - do something and leave the page, so I wouldn’t care for any tap evens after the completed in the inner sequence.

[2019-04-18 13:25] freak4pc commented on #1939
You can do a `take(1)` on the button tap in that case.

[2019-04-18 21:29] freak4pc commented on #1799
@mfcollins3 From you experience, what should be the minimum Carthage version we support here? @bobgodwinx mentioned 0.31.x - are you aware of any limitation?

[2019-04-18 21:38] mfcollins3 commented on #1799
According to the Carthage website, it was introduced with version 0.30.0. I started using it as soon as they added support, so I can verify that it should work with 0.30.0 and above.

[2019-04-18 21:38] freak4pc commented on #1799
Excellent. Thank you so much for all of your help on putting this together!

[2019-04-19 04:58] bobgodwinx commented on #1799
@freak4pc + all, there were major changes in `0.33.0` for `Swift 5.0` so I think to be on the save side we should use that version in the change log because other version seems to giving some weird errors. But `0.33.0` works fine.

Secondly I see the Rx.. schemes now modified, can we test the behaviour of `Cocoapods` ? just to be sure?

[2019-04-19 05:10] freak4pc commented on #1799
@bobgodwinx I don't mind mentioning we only support >= 0.33 on Carthage.

About CocoaPods - Pods and SwiftPM don't use Schemes at all, they simply use the source files directly.

Our CI have sanity tests for CocoaPods integration that seem to pass:

![image](https://user-images.githubusercontent.com/605076/56407912-96f9db80-627a-11e9-87ce-edd129872794.png)

[2019-04-19 05:57] beforeold opened #1941 "The link about Swift 3.x branch in readMe.md is invalid"
**Short description of the issue**:

  when i clicked the link about Swift 3.x link in the readme.md，the browser show the 404 page

**Expected outcome**:

  lead me to the right page or remove the link if not availiable

**What actually happens**:

  show the 404 page

**Self contained code example that reproduces the issue**:

**Level of RxSwift knowledge**:
  (this is so we can understand your l

[2019-04-19 06:00] freak4pc commented on #1941
We won’t support Swift 3 soon since Swift 5 is already coming out. I think the latest supporting versions is 4.3.0

[2019-04-19 06:45] beforeold commented on #1941
Cool, so the readme file will be upated someday, just let you know. I am going to close this issue.

[2019-04-19 06:45] #1941 closed

[2019-04-19 06:45] freak4pc commented on #1941
The readme file in the develop branch should be updated. Thank you!

[2019-04-19 10:18] AlexisQapa commented on #1921
@freak4pc @kzaher is https://github.com/ReactiveX/RxSwift/issues/1320 considered for rxswift 5 ?

[2019-04-19 10:19] freak4pc commented on #1921
No. It was too much of an ambitious goal that is more realistic for a future version of RxSwift.

[2019-04-19 15:34] DevAndArtist commented on #1320
I skimmed over this issue quickly as it's a topic I would like to track and provide feedback. @kzaher is there a reason you want not permit custom types for `Complete`? We don't support it now but I think it would make sense to extend this possibility for the future. Especially because we don't need `NeverCompletes` as it won't have any compiler support compared to `Never`.

If this was the *new*

[2019-04-19 16:35] DevAndArtist commented on #1320
Also if I'm allowed to bikesheed here a little, I can imagine that we could have two event types.

[code]

If you look closer here you realize that we just added support for `Completion` as `Void` or `Never`. In fact we can go even one step further, as `Event` is simply the same as `Result`. The Swift community will likely extend the type with a default for the generic type `Failure` to `Result<Su

[2019-04-19 16:46] DevAndArtist commented on #1921
@freak4pc @kzaher may I propose another breaking change for RxSwift 5?

* Can we rename the associated type `E` to `Element` from `ObservableConvertibleType`?
* Is there any reason why this not the case already?

The reason I'm asking for this change is to make this breaking change as early as possible to prepare for `qualified member lookup` on generic types. I think that we all want that `Observ

[2019-04-21 04:29] seanadkinson commented on #1934
Not sure if its related, but I'm seeing `EXC_BAD_ACCESS` on a similar line:

[code]

Just upgraded to Xcode 10.2, and I'm using RxSwift `4.5.0`.

[2019-04-21 04:45] freak4pc commented on #1934
That seems unrelated. do you have some code around this we could look at ? @kzaher

[2019-04-21 11:27] waploaj commented on #1934
yes

[2019-04-21 19:37] kzaher commented on #1799
I think this should be resolved now. We'll release 5.0 hopefully soon.

[2019-04-21 19:37] #1799 closed

[2019-04-22 20:48] freak4pc commented on #1320
Changing Event to conform to a Result type doesn't make sense. `Event` is a ReactiveX core concept (`next`, `error`, `completed`) and it doesn't make sense to change it just to "save a type definition" :)

About completion - It doesn't make much sense to complete with an Element. It should be either `Void` or `Never` to my understanding.

[2019-04-22 22:06] klop opened #1946 "DistinctUntilChanged overload for tuples with Equatable elements"
**Short description of the issue**:

There currently exists an overload of `distinctUntilChanged` on `ObservableType` which takes no arguments and is constrained to `where E: Equatable`. It simply implements the `comparer` by delegating to `==` on the `Equatable` element. This is useful since it lets us do:

[code]

rather than:

[code]

Unfortunately, we're not afforded the same syntactic brevity

[2019-04-23 00:16] klop commented on #1946
Just found some relevant discussion here: https://github.com/ReactiveX/RxSwift/pull/1747#issuecomment-427655594

[2019-04-23 04:59] freak4pc commented on #1946
Hey @klop - thanks for sharing your thoughts :)

The discussion you linked to isn't relevant - it talks about `Void` not being `Equatable` - but that is a "finite" thing. e.g. Void is always Void, so I still think it's a fitting overload.

In my eyes, trying to go down the hole of Tuple conformance is out-of-scope for RxSwift and should possibly be either developed by individual developers who nee

[2019-04-23 14:10] DevAndArtist commented on #1320
I understand your position but I strongly feel this is a historical quirk of ReactiveX from Microsofts side. If you watch this [video](https://www.youtube.com/watch?v=looJcaeboBY) you get a basic idea where this originates from.

From my point of view `next` is really a bad name as any new `Event` is *the next event* even if it's `.completed`. The new event has a `value`, an instance of a failure

[2019-04-23 14:37] freak4pc commented on #1320
Starting from the end - I meant "conform" in the actual meaning of the word (e.g. "shoehorn" the event type into a result even though it doesn't represent the same thing), not the technical sense of protocol conformance.

About the rest - I respect your opinion but I personally highly disagree. I think you are misinterpreting what this project is about. It's not about reinventing Reactive Programm

[2019-04-23 14:38] freak4pc commented on #1320
About completion subtype, that could basically be fine, I think. But it would be something that needs to be investigated for RxSwift 6, probably.

[2019-04-23 14:48] DevAndArtist commented on #1320
By "historical quirk" I meant to say that Swift has it's own guide for the naming conventions and the debate around `Result` clearly shows that in many many other libraries `value` and `error` cases were dominant, but that does not justify anything from my point of view. What I was trying to say, basically I tend to be close to the language guidelines rather than other standards. It's true that Rx

[2019-04-23 15:09] freak4pc commented on #1320
I think if you're building a cross-platform thing, the language is secondary to the "thing" you're building :) Anyways, not for me to decide but I definitely see no real value in making that kind of change.

[2019-04-23 16:10] juancazalla commented on #1921
Do you have an estimation on when will be RxSwift 5 released?

[2019-04-23 17:03] hfossli commented on #1320
I agree with @freak4pc. The reason I choose RxSwift over frameworks like ReactiveCocoa is because the terminology is consistent across ios and android. Our android devs can coordinate closely and «speak the same language» when discussing how to implement features. We had a lot of confusion going with ReactiveCocoa because they chose other terminology as suited.

Is it fair to say this discussion s

[2019-04-23 21:15] klop commented on #1946
No problem @freak4pc, thanks for the response!

The part of the comment that seemed relevant to me was this one:

Similarly, there'd have to be new logic for `Recorded<Event<(A: Equatable, B: Equatable)>>`  etc.

That aside, I do see why this would be considered out of scope for RxSwift, especially if it isn't a common issue.

For anyone that's interested, here's the shortest form of `distinctUnti

[2019-04-23 23:10] edmond-c commented on #1934
Also on `4.5.0`. Changing the Swift Language Version to `4.2` fixed it:
![image](https://user-images.githubusercontent.com/48694605/56621664-9189f180-65ea-11e9-8a5c-ed953c022c35.png)

[2019-04-24 08:19] kzaher commented on #1921
@juancazalla I was planning to release it last Monday, but then we've decided to perform some renames. I hope we'll finish with the renames this week.

[2019-04-24 08:34] freak4pc commented on #1946
Thanks for the understanding - I think I'll close this for now but feel free to add another comment if you feel something here was unresolved.

[2019-04-24 08:34] #1946 closed

[2019-04-24 08:54] freak4pc commented on #1921
@kzaher The renames you're referringto are internal to my understanding (non-public API) - should we block release on that? I think it would take quite some work to rename every single-letter generic to something more informative.

[2019-04-24 19:24] kzaher commented on #1921
@freak4pc I was only talking about letters in the public API. The internal ones can wait.

There is a bunch of them in our public interface. Since we've renamed `Element` it seems like we should cleanup our public interface.

https://github.com/ReactiveX/RxSwift/blob/53cd723d40d05177e790c8c34c36cec7092a6106/RxSwift/ObservableConvertibleType.swift#L12

https://github.com/ReactiveX/RxSwift/blob/0df6

[2019-04-24 19:26] freak4pc commented on #1921
These are all on master - did you look in develop? I'll take another look anyways.

[2019-04-24 19:42] freak4pc commented on #1921
@kzaher I've done the R -> Result changes here:
https://github.com/ReactiveX/RxSwift/pull/1948

I'll do C next. O is a bit tricky because some are Observable and some are Observer but I'll give it a go as well.

[2019-04-24 20:34] freak4pc commented on #1921
@kzaher I've made a list of some generic renames worth doing.

Mostly done - I can't open PRs for the latter ones without the former ones as there would be too many conflicts, so I'll wait for you to review #1948 & #1949

[2019-04-26 02:50] kai120897660 opened #1955 "UITableViewCell Delete"
I tap UItableViewCell delete when I use UITableView. We get error:
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid update: invalid number of rows in section 0.  The number of rows contained in an existing section after the update (15) must be equal to the number of rows contained in that section before the update (15), plus or minus the number of rows

[2019-04-26 06:54] freak4pc commented on #1955
Hey, you're not supposed to delete rows directly - you should delete the model from the data source itself (e.g. emit a new set of models).

This isn't a bug in RxSwift at all, if you have usage questions, please open a StackOverflow Question or refer to our Slack channel.

Thanks!

[2019-04-26 06:54] #1955 closed

[2019-04-26 07:37] bobgodwinx commented on #1921
@freak4pc  + @kzaher  regarding [Result in 1948](https://github.com/ReactiveX/RxSwift/pull/1948/commits/7456e058140b7b729aa2c4cda3cbc4beda69258a) Don't you think we should avoid this kind of naming? since [Swift now has a Result Type](https://developer.apple.com/documentation/swift/result) I know it's generics but for readability we could just keep it `R` or even `T`. let me know what you think.

[2019-04-26 09:43] freak4pc commented on #1921
Fair point but I think since it’s a constraint and not a concrete type it’s totally fine. @bobgodwinx

[2019-04-27 10:04] freak4pc commented on #1921
@kzaher I think all Generic renames are basically done except for one, and I'm not sure how to proceed on it.

`O` to `Observable` - the name `Observable` is also a concrete type which would cause a bunch of confusion and force using `RxSwift.Observable` at some places. Not sure if it's the best idea.

On the other side just leaving it as "O" while we changed all other single-letter generics might

[2019-04-27 10:08] DevAndArtist commented on #1921
What about `AnObservable`?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-27 10:09] freak4pc commented on #1921
Also a possibility - but it's already a long constant, so if we can avoid making it even longer, that would be better. I'm open to whatever's acceptable by Krunoslav here.

[2019-04-27 10:12] DevAndArtist commented on #1921
That‘s one thing I don‘t like about the style used by the library, but it‘s a totally different topic (I‘d prefer stdlib coding style, where I can prettify such long constraints in a readable way).

If you have concrete example, please link them here, I can take a closer look at them soon(-ish).

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-27 10:13] freak4pc commented on #1921
Don't really understand what you're referring to with stdlib, feel free to share with us.

The concrete examples are everywher, just look for `O: ObservableConvertibleType` or `O: ObservableType`.

[2019-04-27 10:20] DevAndArtist commented on #1921
I‘m currently only on my iPad, I‘ll check later. But in general I would prefer a stdlib like coding style, that makes things easier to read (that is ofcourse my opinion).

[code]

That ofcouse won‘t be rendered by the ASTPrinter like that when the user cmd + click on the API in Xcode.

***

That aside `AnObservable` would be fine by me to not to create any ambiguity that will force us or in worst

[2019-04-27 10:22] freak4pc commented on #1921
Yup, it's definitely a personal opinion. I don't mind either style but I actually find the style where the protocol of the constraint is inline more readable. Personal preference for sure :)

[2019-04-27 10:45] kzaher commented on #1921
I've solved `O`.
Pushed changes to `develop`.

Is there anything else we want to do in the public interface?

[2019-04-27 10:48] freak4pc commented on #1921
I think that takes care of only the public API - for the rest I already did the other APIs as well just to be thorough. Do you want to leave that for now? Or should we go with `Source` everywhere?

[2019-04-27 10:50] kzaher commented on #1921
Maybe we should use `Source` to resolve ambiguities.

[2019-04-27 11:01] DivineDominion opened #1957 "Adding skipLast to the core lib"
I was looking for an implementation of `skipLast(n)` that would only begin emitting events after `n` events have passed. Turns out it isn't part of the core. It's part of the ReactiveX docs, though:

Is this something you'd want to add? If not, I'd open a PR for e.g. `RxSwiftExt`.

## Reference Material

- http://reactivex.io/documentation/operators/skiplast.html
- http://introtorx.com/Content/v1.

[2019-04-27 11:12] freak4pc commented on #1921
@kzaher Rest of the cleanups should be in #1958

[2019-04-27 11:36] DevAndArtist commented on #1921
I just realized one interesting fact. From SE the basic direction for generics UI goes into `some Collection` spelling for simple generic parameters. In that sense you could name the parameters `SomeObservable` which requires two more characters, but later on you could use them as `some ObservableType` if you do not need referencing the type directly to extract some other type information. But the

[2019-04-27 11:43] freak4pc commented on #1921
If and when that SE would actually happen, we can have another discussion. Even though to me "Some" is superfluous.

[2019-04-27 11:47] DevAndArtist commented on #1921
Sure :) My point was that `Some` prefixed generic types or `some P` describes an opaque type, but the type is not known for the implementor of the method, as it‘s an input (parameter) type. Opaque type as the return type is the opposite because it‘s only known to the implementor but not the user, this is also known as reverse generics in SE. So if you need a simple type you can consider prefixing

[2019-04-27 13:38] kzaher commented on #1921
I think this should be everything for 5.0, or do we have something else?

[2019-04-27 13:40] freak4pc commented on #1921
I can’t think of anything else, personally.

[2019-04-27 13:44] YiYiZheng commented on #1907
[code]

The -all-load  can't work. How to figure it out?
@kzaher

[2019-04-27 13:45] freak4pc commented on #1907
The all-load thing is Apple’s workaround since this is an Apple bug. If it doesn’t work for you? Im not sure there’s much to be done, it would work.

[2019-04-28 03:00] rpassis commented on #1799
Hey guys,

I just heard of this change via the RxSwift slack channel and had a few questions that I went to try and work it out for myself. Here are some of my findings and also sample projects that repros the warnings I am getting.

My test setup is as per below, all integrated using Carthage:

(1) DummyFramework - This is a dynamic framework that depends on the static RxSwift 5 build
(2) Main ap

[2019-04-28 03:36] mfcollins3 commented on #1799
@rpassis In your specific test setup scenario, what you will want to do is remove the dependency on RxSwift from your Main app and leave it in DummyFramework. Within DummyFramework, you will want to add the `-all_load` (and `-ObjC` if using RxCocoa) flag to the `Other Linker Flags` setting. What this will do is embed RxSwift 5 into DummyFramework and will make it available to any consumers of Dumm

[2019-04-28 03:38] mfcollins3 commented on #1799
@rpassis One other thing to add for your test scenario. When linking RxSwift into your DummyFramework, you'll need to import DummyFramework first in your Swift source file in order to access the RxSwift module:

[code]

[2019-04-28 07:03] rpassis commented on #1799
Practically speaking I think there is a huge downside to forcing this change on consumers of the library.

What happens if I use multiple libraries that all depend on RxSwift themselves? They would all also have their own embedded version of Rx (and they may all be different), and the same issue would surface no?

Even if I was only to look at one library now suddenly I

[2019-04-28 07:11] freak4pc commented on #1799
This is tricky due to the fact Carthage is an all-or-nothing monster in a way. There’s no great way to force Carthage to go either dynamic or static so either side we choose will be unuseful for the other who might need to fork this.

I’m not a huge proponent or user of Carthage so I have little say here. If there is huge community objection to switching to Static by default, maybe we should recon

[2019-04-28 07:15] rpassis commented on #1799
I should add this is not a Carthage issue, it is just a fact of how static frameworks are built as part of the main executable instead of as a separate framework that gets linked at load time.

I don’t fully understand how Cocoapods packages the frameworks together and resolves dependencies but I think this could well be a problem there too.

[2019-04-28 07:17] freak4pc commented on #1799
It’s not a problem on either CocoaPods or SPM as both of these disregard the original project and only deal with the sources and their own specification file.

[2019-04-28 12:03] kzaher commented on #1921
I'm publishing 5.0, and everything went ok until ....

http://cocoapods.org/pods/RxRelay

Maintained by Wassim Seifeddine.

God damn it.

[2019-04-28 12:08] DevAndArtist commented on #1921
@kzaher the repository is dead for 2 years and it's basically doing exactly the same we want to do.

@wassimseif can we find an agreement and reclaim the cocoapods spec namespace for `RxRelay`?

[2019-04-28 12:13] freak4pc commented on #1921
Getting the privileges from @wassimseif would be optimal. Otherwise we can reach to the CocoaPods team and see if they'll be willing to help (I've seen several scenarios they were able to)

[2019-04-28 12:16] kzaher commented on #1921
I've had to delete 5.0.0 of RxSwift because of this :(

[2019-04-28 12:25] kzaher commented on #1921
I've sent an email to @wassimseif. I guess one thing is sure, this won't be released today probably :( Damn it.

[2019-04-28 12:25] freak4pc commented on #1921
I also e-mailed him haha :)

[2019-04-28 12:26] DevAndArtist commented on #1921
Any everyone pinged him here at least three times. 🤞

[2019-04-28 12:28] freak4pc commented on #1921
haha :) true.

[2019-04-28 12:31] kzaher commented on #1921
Well, we had some bad experiences with name camping. Somebody has https://github.com/RxSwift organization and didn't want to transfer it a while ago :) That's why we moved the project to ReactiveX :)

[2019-04-28 12:34] DevAndArtist commented on #1921
The good thing about the repository is that it's dead and it's doing what we're doing here now. :)

[2019-04-28 12:40] freak4pc commented on #1921
Actually think being part of ReactiveX is much nicer and more confident-inducing anyways :]

[2019-04-28 19:12] kzaher commented on #1934
I think this was a problem because we didn't have a specific version in podspec. This should go away with 5.0.

[2019-04-28 20:50] freak4pc commented on #1921
Pod name ownership was transferred successfully, we're good to go @kzaher ! 🎉

[2019-04-29 09:04] kzaher commented on #1921
@freak4pc I'll do it tonight, I need to change pod description because cocoapods were also complaining about that.

[2019-04-29 09:04] freak4pc commented on #1921
Sounds good. Once that's done you might want to do `pod trunk delete RxRelay 0.1.3` to get rid of the old project.

[2019-04-29 09:50] Abhishek9634 commented on #1140
@kzaher : Any Update on this issue ??

[2019-04-29 09:59] freak4pc commented on #1140
Please read the discussion #1320.
There's no update yet, it won't happen in RxSwift 5 (maybe next version).

[2019-04-29 20:15] kzaher commented on #1921
@freak4pc

This is done.

We should never delete any tags.

[2019-04-29 20:15] #1921 closed

[2019-04-30 02:25] tonyarnold commented on #1799
Please reconsider this change. It is impacting projects that use sub frameworks to organise their code, and the change is unnecessary on macOS where dynamic libraries don't have the same impact that they do on their smaller OS cousins.

Perhaps you could provide this as an option via a script, as suggested on the Carthage Static Frameworks page?

[2019-04-30 02:51] mfcollins3 commented on #1799
@freak4pc @kzaher I’m perfectly ok with the decision if you want to roll this back. I understand the controversial nature of this proposal and that there are very strong opinions on both sides, which are both perfectly valid. This probably needs to be a coordinated decision from the greater community. I’m fine maintaining my own fork like I have been doing for how I want to use RxSwift.

[2019-04-30 02:55] tonyarnold commented on #1799
@mfcollins3 did your fork make this change directly in the pbxproj? Perhaps there's another way, such as moving the configuration to `xcconfig` files, and allowing you to override the specific settings via `xcodebuildf -xcconfig MyRepo/MyOverrides.xcconfig` or similar?

[2019-04-30 03:02] layoutSubviews commented on #1799
@mfcollins3 Thanks for your constructive response.
Ideally this project could accomodate both sides, maybe by splitting targets in two, or following @tonyarnold's advice?

Anecdotally, I have already spent several hours trying to upgrade to RxSwift 5 on my Rx-heavy, Module-heavy project and am still nowhere near having it build cleanly, and this despite having added a ton of build support to accom

[2019-04-30 03:09] mfcollins3 commented on #1799
My fork duplicates the targets for the dynamic frameworks and changes the Mach-O setting to Static Library instead of Dynamic framework. When I build, I get both types, but I just use the static frameworks. I’ve found use for the dynamic frameworks in some special cases (unit test suites mostly), so I keep both around.

For other frameworks, I fork those as well and do the same. I update their Car

[2019-04-30 04:47] freak4pc commented on #1799
I think using a separate xcconfig file could be a good middle ground. Thanks for all your valuable feedback here. I’ll try to whip up a quick PR so we have content to discuss.

[2019-04-30 05:07] orj commented on #1799
@mfcollins3 please also note that work is underway at apple to make the `dyld` loader much faster than it currently is (caching the linker fixup addresses).  2 years ago they introduced optimisations for Apple's frameworks/apps (which I believe was deployed in 11.x).  I was under the assumption that `dyld` was going to get this improvement for 3rd party apps at some point.  Perhaps this year at WW

[2019-04-30 09:03] hllGitHub opened #1961 "Is the 5.0.0 tag changed?"
**Short description of the issue**:

[code]
It failed.

[code]

Is the 5.0.0 tag changed?

**Expected outcome**:

  Hope can `get fetch --tags`.

**What actually happens**:

[code]
**Platform/Environment**

  - [x] iOS
  - [ ] macOS
  - [ ] tvOS
  - [ ] watchOS
  - [ ] playgrounds

**How easy is to reproduce? (chances of successful reproduce after running the self contained code)**

  - [x] easy,

[2019-04-30 09:04] freak4pc commented on #1961
I don't believe we've changed these tags, this repo is actually very strict in this regard. Anyways I believe you can add `--force` to make sure you have the latest.

[2019-04-30 09:23] freak4pc commented on #1961
Since I don’t see a technical issue to solve here, I’m closing this for now. Feel free to leave additional comments if you feel this wasn’t resolved.

[2019-04-30 09:23] #1961 closed

[2019-04-30 10:13] freak4pc commented on #1934
Should be OK with 5.0. If this is still an issue please open a new Issue with updated information.

[2019-04-30 10:13] #1934 closed

[2019-04-30 10:13] freak4pc commented on #1673
@jdisho Had a chance?

[2019-04-30 10:14] freak4pc commented on #1580
What is missing here? This is quite old so I prefer to close it. It seems to me it was mostly solved here: https://github.com/ReactiveX/RxSwift/pull/1582  ?

[2019-04-30 10:15] hllGitHub commented on #1961
My current repo was pulled yesterday. The output of `git show 5.0.0` as follows:
[code]
Current commit is c6c0c540109678b96639c25e9c0ebe4a6d7a69a9 for tag 5.0.0.

[2019-04-30 10:20] freak4pc commented on #1961
It's not something we commonly do, but seems like it was done for that release yesterday and you got caught right in that 1 hour when you pulled the tag. Anyways the --force pull option I mentioned should resolve it.

[2019-04-30 12:36] pietrocaselani commented on #1580
I feel ok closing this.
It's still missing some operators from RxJava, but if I need them I create another PR.

[2019-04-30 12:37] freak4pc commented on #1580
Sounds good to me. Thanks !

[2019-04-30 12:37] #1580 closed

[2019-04-30 12:38] freak4pc commented on #1957
I personally like the idea (the implementation will need to be different and use the actual stream elements [Sink] and not operator composition). If Kruno approves:)

[2019-05-05 16:23] fpillet commented on #1625
I side with @freak4pc on this one. Historically, `take(_ count:)` is fine and "standard" as it exists in RxJava. I would add a named parameter like `take(during:)` (I feel that `during` is better than `duration` but it's a minor point).

[2019-05-06 09:28] kzaher commented on #1673
Is anyone still experiencing this?

[2019-05-06 09:51] jdisho commented on #1673
Personally, I can't and I am using Xcode 10.2.

[2019-05-06 09:58] krystlemaelabio opened #1964 "Lacking RxAtomic in Latest Releast (5.0.1)"
Can we use RxAtomic instead from 4.5.0?

[2019-05-06 10:01] freak4pc commented on #1964
No. RxAtomic is deprecated since it created a ton of thread sanitizing issues. RxSwift [uses `NSLock` instead](https://github.com/ReactiveX/RxSwift/blob/master/Platform/AtomicInt.swift#L12) now.

[2019-05-06 10:01] #1964 closed

[2019-05-06 10:33] kzaher commented on #1957
@DivineDominion  @freak4pc I'm not sure I understand why do you think we should include this?

[2019-05-06 10:37] kzaher commented on #1673
Let's close this for now and if we encounter it in future, we can reopen it.

[2019-05-06 10:37] #1673 closed

[2019-05-06 10:40] DivineDominion commented on #1957
I ask here and not on RxSwiftExt because it's part of the core ReactiveX docs. What are you asking for? Like, is there a "what's included in the core" test this could pass or fail?

[2019-05-06 18:42] kzaher commented on #1906
No response.

[2019-05-06 18:42] #1906 closed

[2019-05-07 03:21] MarcSteven opened #1965 "Library RxCocoa cannot find"
:warning: If you don't have something to report in the following format, it will probably be easier and faster to ask in the [slack channel](http://slack.rxswift.org/) first. :warning:

:warning: Please take you time to fill in the fields below. If we aren't provided with this basic information about your issue we probably won't be able to help you and there won't be much we can do except to close

[2019-05-07 03:32] mironal commented on #1965
I got a similar problem.

[code]

[2019-05-07 04:59] MarcSteven commented on #1965
It's a issue since RxSwift 4.4 later ,because I never met this issue before 4.4.
I tried to find the solutions and then cannot solve it .

[2019-05-07 07:02] krystlemaelabio commented on #1965
Similar problem. RxRelay referenced RxCocoa but image not found. Runtime error. Please fix ASAP.

Used latest build 5.0.1.

Thanks.

[2019-05-07 07:03] freak4pc commented on #1965
RxRelay doesn’t reference RxCocoa. Please provide a reproducible sample project.

[2019-05-07 07:44] khunshan opened #1966 "Update UIProgressView progress in a UILabel using Rx?"
I am currently doing this.
[code]

I have to use additional BehaviorRelay to achieve this. Is there a better and simpler approach?

[2019-05-07 08:25] freak4pc commented on #1966
Hi,

this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://slack.rxswift.org/ or some other more appropriate communication channel.

We are asking this because:

* we can't scale development of this project if people are reporting false issues and we are spending lot of time answering those

[2019-05-07 08:25] #1966 closed

[2019-05-07 23:18] MarcSteven commented on #1965
I had solved this issue ,the solution as below:
Enter into **Build Phase** and then click the **Link Binary with Libraries**
Remove **LRxSwift.a and LRxCocoa.a**
And then it works!

[2019-05-07 23:18] #1965 closed

[2019-05-08 02:02] krystlemaelabio commented on #1965
Sorry I meant RxCocoa is referenced by RxRelay but RxCocoa image not found, runtime error. Can you release official build with this resolved? Thanks.

[2019-05-08 02:05] krystlemaelabio opened #1967 "RxCocoa image not found"
RxCocoa is referenced by RxRelay but RxCocoa image not found, runtime error. Can you release official build with this resolved? Thanks.

Expected: No runtime errors related to Rx components.

[2019-05-08 05:12] #1967 closed

[2019-05-08 06:44] freak4pc commented on #1965
This isn’t a problem with the library - you probably have some linking issue like the person above.

If you have a reproducible project I can take a look.

[2019-05-08 06:44] freak4pc commented on #1965
And again - RxRelay does **not** reference RxCocoa.

[2019-05-09 11:18] bbqsrc opened #1969 "Up to date API docs"
http://cocoadocs.org/docsets/RxSwift/4.0.0/ does not even have `Observable` for some reason.

However, http://cocoadocs.org/docsets/RxSwift/3.5.0 did.

Can this be fixed?

[2019-05-09 11:59] freak4pc commented on #1969
I'm not too sure where CocoaDocs takes these docs from at all. @kzaher thoughts?

[2019-05-09 13:02] Nabeatsu commented on #1965
I created [a reproducible sample project](https://github.com/Nabeatsu/RxCocoaCannotFindSample) .
this repository reproduce this issue in the initial commit.
Next commit resolve this issue. the solution is to enter into Build Phase and then click the Link Binary with Libraries and delete RxSwift.framework and RxCocoa.framework.

[2019-05-09 13:41] kzaher commented on #1969
This should be generated from a podspec as far as I can tell.

[2019-05-09 13:51] kzaher commented on #1625
I think we shouldn't discuss about particular operators, but about policies how to name operators.

We can argue about how to name particular operators for ages, but unless there is consistency across the operators I think we will probably cause more harm than good.

The downside of the current naming is that somebody could accidentally mistake it with count version.
I'm not sure this is possible

[2019-05-09 13:55] freak4pc commented on #1965
Well, that "reproduction" is a problem with your own project. It does not relate to this library at all to my understanding.

[2019-05-09 14:01] freak4pc commented on #1969
Doesn't seem like CocoaDocs is maintained at all. @bbqsrc

![image](https://user-images.githubusercontent.com/605076/57459535-1aa45800-727c-11e9-98ad-184ab55c7a28.png)

[2019-05-09 14:04] bbqsrc commented on #1969
Do you publish the API documentation anywhere else? It is the first (and seemingly only) result in Google for rxswift api docs.

[2019-05-09 14:05] freak4pc commented on #1969
I don't think there's official API docs but you can generate the API using jazzy (there's a `jazzy.yml` in the main folder): https://github.com/realm/jazzy

Also you can just browser through the source files and the **Documentation** folder.

[2019-05-09 17:31] reimondhill commented on #1965
Well ... I am Having the same issue here ... Maybe it is obvious but i can't see it ...

[2019-05-09 17:35] reimondhill commented on #1965
Adding RxRelax solves the issue

[2019-05-09 18:00] freak4pc commented on #1965
FYI - If you're using Carthage this makes sense. RxRelay is new, if you're using RxCocoa you'll want to drop it in after doing a `carthage update`.

If your issue doesn't relate to this specifically, please open a new issue with information.

[2019-05-10 02:29] jokerYellow commented on #1654
great! save my time

[2019-05-13 08:35] MortyMerr commented on #1957
@kzaher I thought this repo is trying to be sync with ReactiveX interface. If something is there - it should be added to RxSwift, because a potential user will expect to find this operator here. What do you think?

[2019-05-14 10:10] georgescumihai opened #1972 "Heap corruption and Attempt to use unknown class"
**Short description of the issue**:
RxSwift is crashing with
`Attempt to use unknown class at 0x265a091a`
or
[code]
With Xcode 10.2.1 and RxSwift 4.5.0 installed through **cocoapods** or **source files** directly, not carthage.

It doesn't reproduces with Xcode 10.1

It is required to have a prebuilt binary in your project, which was build with release configuration that uses RxSwift as dependency

[2019-05-14 10:23] freak4pc commented on #1972
I think we only officially support Xcode 10.2.1 with RxSwift 5.

[2019-05-14 10:33] georgescumihai commented on #1972
I will try to reproduce to see if it reproduces with 5.0 and Xcode 10.2.1

[2019-05-14 11:21] georgescumihai commented on #1972
Issue also reproduces with RxSwift 5.0 and Xcode 10.2.1, I will update the Sample Project.
The reproduction rated decreased from 100% to 60-80%.

[2019-05-14 12:04] kzaher commented on #1972
I'm not sure why do you expect this to work. This won't work as far as I can tell or you will get sporadic crashes or issues.

Even if binary stability is in place I would be suspicious if this worked because project could have different configurations for DEBUG or RELEASE builds, or different optimisations turned on.

This might be theoretically possible if there is ABI stability, but since Xcode

[2019-05-14 12:41] georgescumihai commented on #1972
It worked well so far, that is why I was hoping to continue to work, maybe I didn't explain clear the workflow.

Imagine that you are creating a closed source SDK, let's call it SpringSDK,  which relies on RxSwift.
You distribute SpringSDK through Cocoapods, and you specify in your podspec, that RxSwift is a dependency, you can specify an exact version so you make sure that cocoapods installs the

[2019-05-14 13:04] kzaher commented on #1972
@georgescumihai

You distribute SpringSDK through Cocoapods, and you specify in your podspec, that RxSwift is a dependency, you can specify an exact version so you make sure that cocoapods installs the correct RxSwift.

Yes, this will probably fail. I'm not sure we can do anything on our side. This is Swift/LLVM toolchain. There is no followup action for us as far as I can tell.

If you have some

[2019-05-14 13:19] georgescumihai commented on #1972
In this case the issues are coming from this class `final class SynchronizationTracker`, which is available when you build for debug.
Mainly when it is used in Subjects, like in PublishSubject.swift
[code]
In order to make RxSwift not to crash, I just made sure that this is not available why I build for debug.
I only changed the flag, from `#if DEBUG` to `#if FORCE_DEBUG`, I do not understand enti

[2019-05-14 13:28] georgescumihai commented on #1972
That is the thing, it is not meant to be public for our users.
Internally is distributed as sources.

For example if you look at ZendeskSDK it includes ZendeskCoreSDK which is closed source.
https://github.com/CocoaPods/Specs/blob/master/Specs/6/5/9/ZendeskSDK/2.3.1/ZendeskSDK.podspec.json

[2019-05-14 15:21] MortyMerr opened #1973 "withLatestFrom for multiple observables"
`withLatestFrom` is defined only for one other observable. However, It’s a quite common case, then I have to fetch last events from few other sequences after source sequence emits. I have to handle it with idiom like this:
[code]
Would not it be better to write this in one line, passing all source to `.withLatestFrom`? `.withLatestFrom` can be de defined for different arity like `.combineLatest` d

[2019-05-14 17:19] freak4pc commented on #1973
This seems to me much more fitting for Ext.

Creating an operator that masks the usage of withLatestFrom + combineLatest seems wrong to me, and it also bares a different meaning.

Open to other contributors' opinions ofc.

[2019-05-14 17:24] freak4pc commented on #1972
I think when he says internally he means actually copy the source (or as a submodule), and not using some dependency manager as a separate module. I'm not too experienced with your specific scenario unfortunately.

[2019-05-14 17:49] MortyMerr commented on #1973
I believe it can be implemented without using of `.withLatestFrom` and `.combineLatest`. This addition will just prevent useless boilerplate code to be written. The second code sample describes my intention "get latest events when a button is tapped" in a much more clear way. I don't have to create useless variable `info` in local scope.
It's ok for me to have it in `RxSwiftExt`, will wait until o

[2019-05-14 18:00] scotteg commented on #1973
This is something I’ve been wanting, too. Doesn’t matter to me whether it’s in core or ext.

The use case is that I want to subscribe to a single observable and mix in the latest from one or more other observables. I don’t want to react to emissions from those other observables. I only want to get their latest value when the subscribed-to observable emits.

[2019-05-14 18:45] zachgrayio commented on #1973
would be a great feature to have; obviously under the hood it might make use of a few operators but it _feels_ like an obvious overload that is surprising to be missing at times. as far as where it ends up, I'm pretty agnostic as well... A case could be made either way.

[2019-05-14 20:01] fpillet commented on #1973
@scotteg the OP lays out the obvious solution, `source.withLatestFrom(Observable.combineLatest(source1, source2, source3))` and I don't think there's a need for an operator that would be hardest to describe than this simple combination.

What we need is more a cookbook for these situations :)

[2019-05-14 20:02] freak4pc commented on #1973
Couldn't agree with @fpillet more. 💯

[2019-05-14 20:06] scotteg commented on #1973
@fpillet Could you please explain how in…

source.withLatestFrom(Observable.combineLatest(source1, source2, source3))

… source1 would be the only observable whose emissions triggered a subscription handler?

[2019-05-14 20:07] fpillet commented on #1973
@scotteg only `source` would be considered as a trigger. `source1`, `source2` and `source3` are attached data emitted with their latest value whenever `source` fires.

[2019-05-14 20:07] freak4pc commented on #1973
an emission from `source` will "pick" the latest combination of source1, source2 and source3. The combineLatest part of the `withLatestFrom` doesn't cause a trigger, since the "main" trigger is `source` in this case.

[2019-05-14 20:09] scotteg commented on #1973
Right, that’s the whole point. What if I don’t want sources 2, 3, etc. to trigger handling, but I only want to mix in their latest values?

[2019-05-14 20:09] fpillet commented on #1973
@scotteg but as we mentioned, sources from the `combineLatest` operator will NOT trigger emission. Only `source` will.

[2019-05-14 20:13] fpillet commented on #1973
Retrospectively I see how `source.withLatestFrom(source1, source2, source3)` could be simpler to write but this change won't help with understanding the basic behavior of `withLatestFrom`.

This said, if this addition had to be made it should probably be part of core, not ext.

[2019-05-14 20:13] scotteg commented on #1973
What if I don’t want source — the observable created by getting the latest values from combining multiple observables, each of which would trigger source to emit when it emits — to trigger handling, but I only want source1 to trigger handling, and just mix in the latest values from source2, source3, etc.

This is a very common use case, at least in my travels.

[2019-05-14 20:15] fpillet commented on #1973
Then you want a different operator equivalent to this construct:
[code]

[2019-05-14 20:17] scotteg commented on #1973
No, that would only give me source1. I still want the other source’s latest values. I just don’t want the handler triggered when those observables emit.

[2019-05-14 20:18] freak4pc commented on #1973
I'm a bit confused by the description - it sound like the original code piece does exactly what you want.

`source.withLatestFrom(Observable.combineLatest(source1, source2, source3))`

Will give you `source`, `source1`, `source2`, and `source3` whenever `source` emits, but not when either `source1`, `source2` or `source3` emits

[2019-05-14 20:19] scotteg commented on #1973
Yes…

source.withLatestFrom(source1, source2, source3)

…would handle the use case I am describing.

In contrast…

source.withLatestFrom(Observable.combineLatest(source1, source2, source3))

…would not.

[2019-05-14 20:20] freak4pc commented on #1973
I think I don't understand you all the way. The suggested operator will do the same (basically syntactic sugar). Maybe I'm misunderstanding the OP's intent.

[2019-05-14 20:24] scotteg commented on #1973
combineLatest will emit whenever any one of the combined observables emits.

I’m not sure if the OP wants exactly the use case I am describing, but what I am describing is the need to be able to subscribe to a single observable, and only when that observable emits does the handler fire, but I also want to mix in the latest values from 1 or more additional observables, without those observables tri

[2019-05-14 21:01] fpillet commented on #1973
@scotteg I was wrong with the `map` thing but, again, `withLatestFrom` will fire only when its _source_ fires, not when the sequence passed in parameter fires. Therefore, `a.withLatestFrom(b)` will just keep the latest value of `b` whenever `b`fires, then emit this latest value when `a` fires.

This is exactly when you need. `Observable.combineLatest` lets you collect the latest value of several s

[2019-05-14 21:40] scotteg commented on #1973
The OP’s original request was to be able to use withLatestFrom with more than one observable without having to use combineLatest.

@fpillet @freak4pc sorry, you are correct and I was mistaken. The combineLatest observables will not trigger, only the source.

So yes, using withLatestFrom + combineLatest will work. However, it should also be pointed out that, in order to have access to the source’s

[2019-05-14 22:30] fpillet commented on #1973
One thing to remember is also that the more sources you add, the more uncertain it will be that you'll get a value at all, unless you use `startWith` to provide an initial value.

I see where all of this is going, and TBH the only solution to this very problem is a variant on `combineLatest` that you may want to call `withSourceAndLatestOrNil`that takes any number of sequences as parameters and wi

[2019-05-15 11:39] georgescumihai commented on #1972
We take advantage of the dynamic linking, because we do not need to provide the dependencies with the prebuilt SDK that we distribute. Delivering the SDK as source code is not an option.
It is funny that it works with Carthage and not with Cocoapods.

Going back to the issue, we have a workaround at this point, it is ugly but works until we find a better solution.

[2019-05-15 12:48] kzaher commented on #1972
It's a warning generator in DEBUG mode. As far as I can tell this class is internal so I have no idea why should it matter. Does the Swift ABI include internal members? If it includes non public members what kind of ABI is that :)

I can sympathize with toolchain issues, but I'm not sure this is anything actionable on our end or that there is some problem with the project itself.

[2019-05-15 12:51] kzaher commented on #1973
The operators that are contained in this library should be orthogonal in functionality.

If the operator can be easily get by composition, like this:

[code]

If somebody really needs this functionality, they can easily create local extensions, that's by design.

[2019-05-15 13:32] MortyMerr commented on #1973
@kzaher got your point. Will open PR to `RxSwiftExt`. Thank you for your attention :)

[2019-05-15 13:32] #1973 closed

[2019-05-15 14:18] georgescumihai commented on #1972
Will close the issue for now. Thanks.

[2019-05-15 14:18] #1972 closed

[2019-05-15 20:35] ashok1089 commented on #1967
I am trying to refactor Variable to Behavior Relay with RxSwift 5.0.1 and running into below runtime error:

dyld: Library not loaded: @rpath/RxRelay.framework/RxRelay
  Referenced from:
  Reason: image not found

[2019-05-15 20:43] MortyMerr commented on #1967
Delete derived data & clean & rebuild should help

[2019-05-15 20:45] ashok1089 commented on #1967
Tried already did not work out. thanks though

[2019-05-15 20:52] freak4pc commented on #1967
Hey @ashok1089 - based on your error, you're using Carthage.
Make sure you dragged the built binary (RxRelay.framework) to your project, as it's not part of RxCocoa directly, it's a separate framework (as the error message states).

[2019-05-16 09:46] kzaher commented on #1957
@MortyMerr

You have got this half right.

**We are trying to be in sync with their terminology, interfaces and concepts and apply them to Swift.** I don't want to learn 100 different terminologies that describe stateful systems.

What that statement doesn't imply is that some implementation added some operator all others should do the same. That idea is wrong on both practical side and game theor

[2019-05-16 09:55] MortyMerr commented on #1957
@kzaher I meant not all Rx repos, but only only ReactiveX official spec. But I get your point, thank you.
Just to outline: do you think `skipLast` is useless operator? Should this issue be closed?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-16 10:04] kzaher commented on #1957
There is no official spec. There is a web page (glossary), but not an official spec.
Glossary != Spec

https://github.com/ReactiveX/reactivex.github.io

You can make PRs to that web page in the same way you can do a PR to some repo.

I guess I try to keep open minded and who ever wants us to merge something is welcome to provide me with reasons why he wants this to be merged.

Usually people provi

[2019-05-16 11:47] Ualikhan07 commented on #675
which delegate u set? i add programmatically tableView and now i can't set delegate...

[2019-05-17 11:10] DivineDominion commented on #1957
Sounds legit. Do you want this issue to stay open for others to vote in favor/chime in, or does it makes more sense to close the issue and leave this as a google-able place for future discussion?

I'm fine with this becoming part of RxSwiftExt just as well. Don't know how you folks write apps without this operator, but maybe I'm just weird in my operator setup ;)

[2019-05-17 12:02] AlexisQapa commented on #1957
While on the implementation side the "last" naming seems fine on the user side shouldn't it be skipFirst ? I might have missed something but I read it as skip the first n elements

[2019-05-17 12:15] MortyMerr commented on #1957
@AlexisQapa there is already `skip` which skips first n elements. This issue is about the operator, which allows skipping n last elements

[2019-05-17 12:19] AlexisQapa commented on #1957
Yeah I thought so. Sorry ^^

[2019-05-19 06:55] mauricekraus opened #1980 "RxTest: TestScheduler fails when created as a static library"
**Short description of the issue**:
I installed RxTest, RxBlocking, RxSwift and RxCocoa 5 over Cocoapods as static libraries (i.e. without "use_frameworks"). The project itself works fine, everything compiles well even in a larger project, but if I switch to the test target and instantiate a ```let scheduler = TestScheduler(initialClock: 0)```, the test will fail.

**Expected outcome**:
That the t

[2019-05-19 20:44] epatey opened #1981 "Recursive observables alternatives? Is there a better solution?"
I have a pretty simple pagination helper that's generic and works well. The problem I have is that it uses recursive `Observable`s which leads to a holding the entire chain of `Observable`s alive until the final page has been retrieved.

[code]

If, for example, there are 100 pages, the last page will have to cascade up through 100 chained/recursive `Observable`s before it reaches the consumer.

I

[2019-05-20 13:44] epatey commented on #1981
I got the following to work but I had to rely on a bit of side-effect code and a `PublishSubject`.

[code]

This works for me, but I'm still curious if there's a way to avoid the imperative `do(onSuccess:` and subject stuff.

Notes:
- I had to use `deferred` in order to get a dedicated subject for each subscriber.
- `concatMap` was needed instead of `flatMap` to ensure the proper order.

[2019-05-20 14:50] MortyMerr opened #1982 "Add .materialize() for Single, Maybe, Completable"
Working with sequence of events instead of elements might be important in some cases. When we want to prevent sequence from completion. Or with RxSwiftExt `.elements()` and `.errros()` operators, which is useful in error handling idiom:
[code]

Using `single.asObervable().materialize()` looks strange for me. It can be cutted to simple `single.materialize()`. Also we lose trait guarantees, because

[2019-05-20 21:08] gringoireDM opened #1983 "Add compactMap to sharedSequence, Single and Maybe"
Now that we have `compactMap` operator for `ObservableType` in the RxSwift core, i believe it would be useful to have the same operator for `SharedSequence`, `Single` and `Maybe`, like it's done for other operators like `map`, `filter` and so on.

A possible implementation is given in the PR #1978

[2019-05-21 09:50] kzaher commented on #1982
I'm not sure this would bring any significant benefit.

This code is more verbose
[code]
but provides me with more information than
[code]

The return type obviously can't be `Single` because it doesn't contain any element except in the error case. Otherwise it's element + completed.

This is again not true. It's `Observable`.

I guess there is a chance we could add `materialize` with `Observable`

[2019-05-21 10:23] MortyMerr commented on #1982
Thank you for your attention :)
But I tend to disagree.
[code]
do not the thing I want. I want to materialize `Single`, and it materialized version should still emit only one element or errors out. With casting to Observable I am losing this behavior. I don't need that cast, cause it should be possible to materialize concrete trait.

It always contains the element which type is `Event`. It's not O

[2019-05-21 10:51] acecilia commented on #1983
And also for Driver please :)

[2019-05-21 15:59] Nilesh-Jha-14 opened #1984 "Module 'RxSwift' was created for incompatible target x86_64-apple-macosx10.9:"
Module 'RxSwift' was created for incompatible target x86_64-apple-macosx10.9:

[2019-05-21 16:16] freak4pc commented on #1984
If you don't provide any more details we'll unfortunately have to close this issue.

[2019-05-21 17:12] Nilesh-Jha-14 commented on #1984
So My project is working Fine on one System having Xcode 9.4.1 ... I installed Xcode 10.2  and xcode 9.4.1 in another system... When I run the project in new System after updating Carthage.. Its giving this error

[2019-05-21 20:08] freak4pc commented on #1984
If you want support for Xcode 10.2 you'll need RxSwift 5.

[2019-05-22 09:40] iwheelbuy opened #1985 "Unable to build RxCocoa using xcodebuild"
**Short description of the issue**:

Unable to build a project with *xcodebuild* when *OTHER_SWIFT_FLAGS = -Xfrontend -debug-time-function-bodies* is used.

**Expected outcome**:
[code]

**What actually happens**:

[code]

**Self contained code example that reproduces the issue**:

Created a [blank project](https://github.com/ReactiveX/RxSwift/files/3206646/Nice.zip), added Podfile with RxSwift, i

[2019-05-22 12:37] Nilesh-Jha-14 commented on #1984
So Now I am using Xcode 10.2 and RXSwift 5.0.1 which is being downloaded automatically .. Now I am getting this error.

Could not find module 'RxSwift' for architecture 'x86_64'; found: i386, armv7k, arm, arm64_32

[2019-05-22 13:02] freak4pc commented on #1984
Hey, I have a clean project where there are no issues. If you can create a project with a reproduction of the issue, I can take a look.

[2019-05-22 20:50] c0diq commented on #1907
Could you explain how one would set the LINT variable for Xcode to pick it up and run the swiflint build phase? My understanding is that Xcode does not inherit the shell environment variables when launched.

[2019-05-23 04:28] freak4pc commented on #1907
@c0diq what would be a reason to do this? This is internal linting for developing the lib and not for library consumers.

[2019-05-23 05:52] m17603048828 opened #1987 "What is the meaning of asObservable"
What is the meaning of asObservable ????
I see the source code of asObservable! It just return self!,
I do not know  What is the meaning of asObservable
请问：asObservable 就是返回self 有什么意义，或者特别的用法？？

`    public func asObservable() -> Observable<E> {
        return self
    }
`

[2019-05-23 06:18] freak4pc commented on #1987
It's a protocol conformance for `ObservableConvertibleType`.

Regardless,

this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://slack.rxswift.org/ or some other more appropriate communication channel.

We are asking this because:

* we can't scale development of this project if people are r

[2019-05-23 06:18] #1987 closed

[2019-05-23 06:19] freak4pc commented on #1981
Hi,

this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://slack.rxswift.org/ or some other more appropriate communication channel.

We are asking this because:

* we can't scale development of this project if people are reporting false issues and we are spending lot of time answering those

[2019-05-23 06:19] #1981 closed

[2019-05-23 06:39] m17603048828 commented on #1987
OK

[2019-05-23 07:12] c0diq commented on #1907
So the main reason is that I am am trying to do the same for one of our library and the only way I have found is to source another bash file at the beginning of the build phase that would set that env variable.

The second reason, somewhat related, is that even if swiftlint doesn’t run, the build phase will still always execute because it has no input or output files, causing Xcode to think the li

[2019-05-23 23:00] MortyMerr commented on #1957
@DivineDominion could u please provide an example in which this operator is very useful? Maybe, more people would be interested in it that :)

[2019-05-24 03:23] shengyang998 commented on #1376
@omatrot I don't quiet understand your problem, but it seems you want to hold that 500 items for 2.5 seconds. If so, you may want to check out [the buffer operator](http://reactivex.io/documentation/operators/buffer.html)

[2019-05-26 19:58] PetarMarijanovic opened #1992 "Deadlock using two share(replay: 1) operators"
**Short description of the issue**:

100% reproducible deadlock using two `share(replay: 1)` operators.

Every instance of `ShareReplay1WhileConnected` has its own RecursiveLock and uses it for:

- subscribing (here is the problem),
- FETCHING observers in **on(...)** method, but not dispatching the element. The lock is released just before calling the onNext method on observers, which is fine.
-

[2019-05-27 07:09] DivineDominion commented on #1957
I use it in my app to fix a timing issue at the moment, when me knowing that I need to save metadata is tied to the source of metadata having _changed_. That's why I want to rewind by 1 event.

----

**Use case:** When the user changes the  currently disp[layed note, store the latest scroll offset as file metadata for later restoration.

**Sequence**

- Changing the displayed note also changes the

[2019-05-27 08:07] hiroshi opened #1993 "v4.5.0 binary seems to be incompatible with Xcode 10.1 (swift 4.2.1)"
Hi, the url must be https://rxswift.slack.com/, slack.rxswift.org is a dead domain.
And the slack workspace seems to require invitation. right?
<a href="https://gyazo.com/7ab517f8489cbc9a848425035b4c04a5"><img src="https://i.gyazo.com/7ab517f8489cbc9a848425035b4c04a5.png" alt="Image from Gyazo" width="320"/></a>

**Short description of the issue**:
I'm trying to migrate a swift 3 project that uses

[2019-05-27 11:58] kzaher commented on #1992
Hi @PetarMarijanovic ,

Long time no see, hope you and your family are doing well.

I guess this Monday turned out ok 😆. According to your posting time looks like you've had an even better Sunday 😆.

I guess there is a lot of questions here, so I'll try to address them one by one.

2019-05-27 12:53:08.946: Share2 -> subscribed
2019-05-27 12:53:08.946: Share1 -> subscribed
2019-05-27 12:53:08.947:

[2019-05-27 20:18] PetarMarijanovic commented on #1992
Hi @kzaher,

we are doing even better than well :) Same goes for you, I really hope you and your family are well and happy.

**Reproducibility:**
That's odd. I managed to reproduce it on two different laptops running simulators. Nevertheless, I'm glad you agree a deadlock could occur, so I don't need to investigate why isn't it working for you :)

**My suggestion:**
Yes, I know the solution won't

[2019-05-27 20:18] #1992 closed

[2019-05-27 20:52] kzaher commented on #1992
I'm thinking about this for ages. Yes, I agree with what almost all you've said. Ideally we would better support circular dependencies, but right now I don't see a simple way. I personally don't have this problem since I've solved it on a higher level of system design, but it's not the most satisfying feeling.

Even if we decided to do async locks everywhere that would introduce additional problem

[2019-05-29 11:54] Ualikhan07 opened #1994 "RxSwift Pagination for tableView"
I can't add pagination for tableView.when i have more item so need pagination when scrolling bottom side and when i scroll back my cells don't disappeared. I dont know how can i do this my codes under below.Im waiting your helps. I think will be help too many people. Thank you!

My request all correct,

//APIManager.swift

        case .retailList(let cityId, let categoryId,let pageNumber):

[2019-05-29 11:57] freak4pc commented on #1994
Hi,

this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://slack.rxswift.org/ or some other more appropriate communication channel.

We are asking this because:

* we can't scale development of this project if people are reporting false issues and we are spending lot of time answering those

[2019-05-29 11:57] #1994 closed

[2019-05-29 18:12] kzaher commented on #1993
I've tried http://slack.rxswift.org/ and it seems to be working for me. That's the invite link.
https://rxswift.slack.com/ is the slack domain after you get invite from http://slack.rxswift.org.

I'm not sure what's the problem here. We can only have one binary uploaded compatible with a single Xcode version. The binaries are just a convenience. The fallback to building seems to be working accordi

[2019-05-29 18:13] freak4pc commented on #1993
Hey @kzaher @hiroshi - the rxswift.org domain was down for a couple of days due to renewal issues, we solved it since.

[2019-05-29 18:19] kzaher commented on #1985
I don't have Xcode 10.2, does it work with 10.2.1 for you?

Anybody can repro this?

I've tried and works for me.

[code]
1.7.0.beta.3

[C.zip](https://github.com/ReactiveX/RxSwift/files/3233862/C.zip)

[2019-05-29 18:20] kzaher commented on #1984
This seems stale.

[2019-05-29 18:20] #1984 closed

[2019-05-29 18:50] kzaher commented on #1982
This is too confusing. Let's continue discussion on the PR.

[2019-05-29 18:50] #1982 closed

[2019-05-29 18:53] kzaher commented on #1980
Yep, Swift compiler bug. Sorry, nothing we can do here.

[2019-05-29 18:53] #1980 closed

[2019-05-29 20:05] iwheelbuy commented on #1985
Thank you for your response. Will try using 10.2.1 on another machine.

[2019-05-29 20:15] Bashta commented on #675
Thanks, man but the question was from Dec 27, 2016 XD

[2019-05-30 00:34] hiroshi commented on #1993
Ah, I can reach the domain now. Thanks!

[2019-05-30 13:44] geor-kasapidi opened #1996 "Extend BehaviorRelay"
Hi! BehaviorRelay has no value setter, so if Element is a complex type and we need update some property, we need to do something like this:

[code]

To make updates more comfortable (and pseudo atomic), i wrote small extension:

[code]

If this API is OK for you, I can make a PR - this extension saves a lot of my time :)

[2019-05-30 20:31] c0diq commented on #1666
If one wanted to prevent zip from completing if one observable completed, it would have been easier to `concat(never())`. It feels that this change is going to introduce serious incompatibilities when zip was expected to complete as soon as one source completed.

How do you recommend one replicates the old behavior now?

[2019-05-30 22:44] c0diq opened #1997 "TestScheduler start method never returns in some cases"
**Short description of the issue**:

  `TestScheduler.start()` never returns when an infinite observable using that scheduler is not subscribed within the start action block.

**Expected outcome**:

  `TestScheduler.start()` should not block.

**What actually happens**:

  Whenever an infinite observable using the test scheduler is subscribed outside of the start action, the `TestScheduler.start`

[2019-05-31 07:29] kzaher commented on #1666
No, the old behavior was wrong.

Writing your own implementation or doing `.take(x)` on sources.

[2019-05-31 15:38] DavidBertet commented on #1972
We are facing the same issue, with the same use case

[2019-06-03 13:23] matvdg commented on #1997
I have the same issue, it broke all my unit tests...

[2019-06-03 14:01] iwheelbuy commented on #1985
I've checked your project on three different machines with various Xcode and Cocoapods versions and with no success. It still fails with the output listed in _What actually happens_

[2019-06-03 20:14] kzaher commented on #1983
We've merged your proposal.

[2019-06-03 20:14] #1983 closed

[2019-06-03 20:20] kzaher commented on #1985
Oh,

I've looked into this. This is nothing on our end. You can't just override flags in that way because you are messing with CocoaPods magic.

You need to add the `-Xfrontend -debug-time-function-bodies` to the `OTHER_SWIFT_FLAGS` in the project build settings manually.

[2019-06-03 20:20] #1985 closed

[2019-06-03 20:21] #1993 closed

[2019-06-03 20:34] petejkim opened #1999 "Use Combine Framework under the hood or provide adapters"
**Short description of the issue**:

iOS 13/mac OS 10.15 come with built-in reactive programming framework:
https://developer.apple.com/documentation/combine
https://developer.apple.com/documentation/combine/publisher

**Expected outcome**:

RxSwift should be updated to use the built-in primitives where possible, or at least provide a set of adapters.

**What actually happens**:

RxSwift doesn't u

[2019-06-03 20:35] freak4pc commented on #1999
Irrelevant. RxSwift supports iOS 8 and above. Combine supports iOS 13 and above only.

[2019-06-03 20:36] freak4pc commented on #1999
Sorry, closing was accidental. Let me know if you have any other notes or thoughts here.

[2019-06-03 20:37] kzaher commented on #1999
I'll look into this.
Interesting, didn't know that.

[2019-06-03 20:38] freak4pc commented on #1999
Yeah, @kzaher - it was just released in beta. They made their own RxSwift-look-alike :)

[2019-06-03 20:40] petejkim commented on #1999
I think it might be worth providing an interface that looks exactly the same as `Combine` that works with older versions of iOS/macOS.

[2019-06-03 20:40] kzaher commented on #1999
You can summarize these possibilities with a regular expression: value*(error|finished)?

😂

Where did we see this before :)

[2019-06-03 20:44] kzaher commented on #1999
They've also copied the stupid mistakes we did:
[code]
😂

[2019-06-03 21:12] MortyMerr commented on #1999
What do you think about:
[code]

[2019-06-03 21:29] kzaher commented on #1997
Hi, guys,

I'm not sure what is your expectation, but as far as I can tell this is by design.

Doing this:
[code]
means simulate until there are items to be used. And there will always be items since

`let infinite = Observable<Int>.interval(.seconds(1), scheduler: scheduler)`

doesn't ever complete.

[code]
Means,
[code]
Subscribe to the returned observable and dispose at 100 units (`Defaults.dis

[2019-06-04 00:32] hiroshi commented on #1993
Hey @kzaher,

The link to slack workspace is not the subject of the issue! I'm sorry for reporting multiple topics in an issue though.

The subject is

Was it resolved?

[2019-06-04 07:27] solidcell commented on #1999
Sure, we can't change the internal implementation to *only* use Combine right away, however, at some point we'd need to transition, if ever. Maybe it would be best to be able to toggle between implementations so that it's not a huge change all at once.

Switching to Combine would also probably greatly improved debugging. 🤔

[2019-06-04 07:29] freak4pc commented on #1999
“At some point” is the tricky party. It will require RxSwift to be minimum version of iOS 13 - that would take years, if at all. I don’t think this library has any interest to increase the minimum deployment target in the foreseeable future.

[2019-06-04 07:51] MortyMerr commented on #1999
@freak4pc what do u think about splitting implantation depending on iOS version?

[2019-06-04 09:10] freak4pc commented on #1999
I personally don't see much value in doing that. That framework could change a million times from now to when we raise iOS 13 as the minimum... not sure what value it brings to the table.

If someone wants to use Combine, they can just do that. I'm not entirely sure why RxSwift should use it under-the-hood. In my understanding there are still a lot of missing pieces to get everything done here.

[2019-06-04 09:11] freak4pc commented on #1993
He answered I believe:

[2019-06-04 09:35] freak4pc opened #2000 "Using Carthage without binary causes duplicate framework"
I'm not too knowledgable with Carthage but adding this here for tracking it. Saw this issue in RxAlamofire. With a Cartfile as follows:

[code]

And running `carthage update --platform iOS --no-use-binaries`

Getting the following output:
[code]

It seems watchOS and iOS builds both create a RxSwift.framework with the same name, which causes some collision.

[2019-06-04 10:22] kzaher commented on #1999
It seems to me that Apple's `Combine` concept is equivalent to `Observable`. Naysayers will say, but it has generic error type and structs, but I don't think it matters much (like I can easily demonstrate with my typealiases excercise 😂).

They've also added opaque result types a couple of months ago
https://github.com/apple/swift-evolution/blob/master/proposals/0244-opaque-result-types.md
which c

[2019-06-04 10:32] freak4pc commented on #1999
That would mean you'll have to make 6.x minimum version of iOS 13 / macOS Catalina, and no Linux. Not sure it's the best idea :) Or - basically have `#if available` everywhere :)

Forever, in our hearts. ❤️

[2019-06-04 10:45] BohdanCube opened #2001 "What do you think about Apple new Combine?"
What do you think about Apple [new framework](https://developer.apple.com/documentation/combine?changes=latest_minor)?

Will you use it in some way in RxSwift or did they done partial copy of your functionalities in their own "new" framework?

I have a mixed feeling about this...

[2019-06-04 10:45] freak4pc commented on #2001
#1999

[2019-06-04 10:45] #2001 closed

[2019-06-04 10:45] BohdanCube commented on #2001
Thx

[2019-06-04 11:14] kzaher commented on #1999
Well, 5.x will work on Linux and I don't see any reason why they wouldn't support linux with the Combine library in the future. This is just beta.

5.x should work for the foreseeable future.

I don't think we would make these changes now, but if we are talking about a year period, I think it should be possible. The usual mantra is to support current and current - 1 version of the iOS.

These are

[2019-06-04 12:54] hiroshi commented on #1993
Sorry, I didn't understand the point until now.

[2019-06-04 14:19] hmlongco commented on #1999
I'm trying to dig behind the scenes and see if RxSwift can be bound to and/or drive SwiftUI components. Not quite sure yet if @State annotations are using Combine behind the scenes.

[2019-06-04 20:24] jamiepinkham commented on #1999
@hmlongco from what I can tell, SwiftUI leverages`BindableObject` which requires a `PublisherType` from `Combine`: https://developer.apple.com/documentation/swiftui/bindableobject

[2019-06-05 11:34] Mazyod commented on #1999
Just wanted to join in and share an opinion, this is not backed by facts:

Introduction of `Codable` rendered almost all the Swift JSON libraries out there obsolete, since it solved the base case really well, with minimal boilerplate. You'll still fine developers using 3rd party libraries for JSON, but I believe it has become a niche.

This is also reminiscent of the discussion SpriteKit sparked,

[2019-06-05 14:35] hmlongco commented on #1999
@Mazyod As mentioned above, SwiftUI has baked Combine into its DNA, as it's the primary mechanism used to trigger UI changes and updates.

As such, I'm afraid it's going to be rather difficult to avoid.

I should note that one thing I haven't seen yet is Combine integration into many services like Notifications, Timers, etc..

[2019-06-06 15:17] samrayner commented on #1999
@kzaher Just regarding `retry()` - if you feel like Apple have repeated mistakes that the Rx community have learned from please try to let them know! The new APIs are in beta and I'm sure they would be open to feedback from core contributors of the reactive frameworks that clearly inspired Combine. Potentially @lukabernardi?

[2019-06-06 22:20] freak4pc commented on #1999
Hey all, as a starting point, I wrote a quick reference blog post to outline the "direct converts" of RxSwift to Combine. This might help some of you experiment with it. If you have any feedback please feel free to share with my in the post, or DM me on Slack/Twitter :)

Some community members such as @hmlongco helped with some of the details, so thanks for that !

https://medium.com/gett-engineer

[2019-06-07 09:11] #1997 closed

[2019-06-07 09:12] kzaher commented on #1969
I don't know what to do here. Cocoadocs was maintaining the docs.

We have inline docs and reactivex.io.

[2019-06-07 09:12] #1969 closed

[2019-06-07 17:13] unixzii commented on #1999
Use **Combine** to implement **RxSwift** is not making sense. Maybe more and more people will migrate from **RxSwift** to **Combine** as the iOS 13 installation base increases, so **RxSwift** here can be a quite well transition solution. What I mean is, bump a version and modify the API design to match **Combine**. In that way, when developers want to adopt **Combine** while they cannot set the mi

[2019-06-07 17:51] freak4pc commented on #1999
Why would we do this? RxSwift follows ReactiveX spec, not Apple spec :)
If anyone wants to make a Combine-polyfill based on RxSwift, I believe that's rather possible.

I find it hard to believe RxSwift will move away from the spec as that's one of the key points and guarantees of this framework.

[2019-06-07 17:56] unixzii commented on #1999
@freak4pc Yes, you are right. RxSwift's core design is following ReactiveX. And considering this, I think there is no necessary to make changes.

[2019-06-07 17:57] freak4pc commented on #1999
I agree. As of now there will be no change - but if we can, later on, leverage Apple's own core framework (Combine) to reduce some of this library's foot print, that's a pretty good benefit. Less maintenance and tests needed for us :)

So I think that - long term plan here is: Once this repo is ready to increase minimum deployment target to iOS 13 etc, we can keep the existing interface mostly, bu

[2019-06-08 05:13] fabb commented on #1999
I think of the other way around: in order to support gradual migration, it could be helpful to provide wrappers. E.g. wrap RxSwift Observables in Combine Publishers, so an unmodified RxSwift model layer could continued to be used with SwiftUI‘s BindableObject (during a transitional migration period). And maybe the other way around too, wrap Combine Publishers in RxSwift Observables so the new Data

[2019-06-08 14:48] freak4pc commented on #1999
@fabb I don't think this is a possible plan, but if you have some basic MVP  we can consider it.
SwiftUI bases much of its implementation details on things related directly to Combine usage - I'm seeing very little value to making RxSwift provide some API as it's correlation with SwiftUI is very minor without adding a lot of custom property wrappers. The value in correlation to SwiftUI is even les

[2019-06-08 18:56] agiokas commented on #1999
Maybe RxSwift could include some wrappers to create Publisher from Observable , Subscriber from Observer etc so that projects which currently use RxSwift could in future combine those with Combine

[2019-06-08 20:04] noahsark769 opened #2004 "RxCocoa causes UIWebView link errors on UIKitForMac"
**Short description of the issue**:

  When building projects for UIKitForMac (Apple's new Project Catalyst environment), RxCocoa fails to link because it expects `UIWebView` to be available. I created a sample project which demonstrates the issue at [NGRxCocoaUIKitForMacLinkingIssue](https://github.com/noahsark769/NGRxCocoaUIKitForMacLinkingIssue).

I think the solution here will probably be as s

[2019-06-08 20:22] vandadnp commented on #1999
As we speak there are iOS programmers out there that are literally scared by Rx but they are going to give Combine a try since "it's Apple's framework and we won't have to learn Rx"!

Previously we could have these developers use Rx if they just understood how great it was but now we will most certainly "lose" them to Combine.

I also agree and echo the earlier thoughts about JSON parsing and Appl

[2019-06-08 22:04] tcldr commented on #1999
@fabb This makes a lot of sense. As someone mentioned, one of the authors of SwiftNIO mentioned that Combine is based on the Reactive Streams standard.

https://en.m.wikipedia.org/wiki/Reactive_Streams

Very similar to RxSwift but with some emphasis on resolving back pressure issues.

A java version using the same standard was included as part of Java9.

When introduced, to ease the transition fro

[2019-06-09 14:49] kzaher commented on #1999
@tcldr

Please correct me if I'm wrong, but it seems to me that Reactive Streams only describe that there is observer + backpressure:

* Publisher
* Subscriber (onComplete, onError, onNext, onSubscribe)
* Subscription
* Processor

http://www.reactive-streams.org/reactive-streams-1.0.2-javadoc/org/reactivestreams/package-summary.html

Everything else are "Rx" concepts as far as I can tell (Subjects

[2019-06-09 15:00] tcldr commented on #1999
@kzaher

Yes, I think that's correct. I haven't spent much time looking into it, but if I'm understanding correctly the reactive streams specification simply introduces the concept of back pressure handling.

With this addition to the contract a Publisher is acting illegally if it sends more elements than have been explicitly signalled by the subscriber.

That's the only material difference afaik.

[2019-06-09 21:21] freak4pc commented on #1969
Hey @bbqsrc & @kzaher
I've uploaded the Jazzy docs to https://docs.rxswift.org/ for everyone to enjoy.

I'm hoping to open a PR soon to make the process of keeping these updated more streamlined.

[2019-06-09 21:53] freak4pc commented on #2004
Seems there's a PR tracking this - #2002

[2019-06-10 00:43] MortyMerr opened #2007 "Adopt few Combine operators"
I understand that this repo doesn't aim to embed all operators from Combine. But IMO absence of Combine operators might be confusing for new users, which want to try being reactive before iOS 13.0
Of course "add operator because there is a similar one in Combine" is a bad reason, but they might quite useful. Here is a list, which can be appended with new Combine release. Even if we that repo doesn

[2019-06-10 01:23] eviathan commented on #1999
I mean I understand their rationale (complete control over the code base, security etc.) but I still cant for the life of me understand how anyone could get the idea of implementing a framework that does less of the same thing as a mature and open source framework already out there in the wild with a ton of adoption past their financing department.

I look forward to RxSwiftUI ... less so if I hav

[2019-06-10 10:36] freak4pc commented on #2007
I want to start with saying thanks for your work on this.
My personal opinion is that we shouldn't add an operator **just because** it's part of Combine if it doesn't make sense to us. This is a large project and I think we should be careful with adding new operators without a good enough reason.

## Operators that I think might be a good fit:

- count - it could be useful and it's basically an al

[2019-06-10 11:27] LGCooci opened #2008 "Type of expression is ambiguous without more context"
I just use the demo of RxSwift 5.0
<img width="803" alt="image" src="https://user-images.githubusercontent.com/51438812/59192653-c6133600-8bb5-11e9-93c2-14bdf866f6e5.png">

<img width="1017" alt="image" src="https://user-images.githubusercontent.com/51438812/59192450-0d4cf700-8bb5-11e9-9863-dd25ab146c1d.png">

[2019-06-10 11:46] freak4pc commented on #2008
Hi,

this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://slack.rxswift.org/ or some other more appropriate communication channel.

We are asking this because:

* we can't scale development of this project if people are reporting false issues and we are spending lot of time answering those

[2019-06-10 11:46] #2008 closed

[2019-06-11 08:09] MortyMerr commented on #2007
Of course, I fully agree with that.

It's just shorter. And more important it allows capturing from properties without reference cycle
[code]
Yes i can add capture list and it will be ok, but `replaceNil` makes it much more simplier.

`mapError` is suitable when I want to replace global scope of networks error to my own errors. Maybe, you will criticize that approach, but:
[code]

Please tell me w

[2019-06-11 08:33] freak4pc commented on #2007
[code]

Is it really shorter? Regarding captures and reference-semantics, even if you do `.replaceNil(with: self.something)` you are capturing.

About `mapError` - its not about criticizing, it just doesn't seem like something generic enough to including in the repo. It would be the same as catchError to my understanding.

[2019-06-11 11:04] MortyMerr commented on #2007
:) Not much shorter, nevertheless shorter, yes.

Am I? Swift copy references when passes to methods, so it's completely safe to use `.replaceNil(with: self.property)`

Ok :)

[2019-06-11 19:44] kzaher commented on #2007
We aren't going to even start considering any combine based changes before Combine is released and baked into the iOS for obvious reasons.

[2019-06-12 22:58] c0diq commented on #1997
Ah you are right. The problem started happening for me because the `zip` behavior changed. It used to complete as soon as one source completed. Now it doesn't and that causes the infinite problem.

This example used to work prior to RxSwift 5.

[code]
I understand now. Thanks for checking into it.

[2019-06-13 01:38] codepgq opened #2009 "build ipa failed"
![image](https://user-images.githubusercontent.com/20208598/59397336-d77b5e80-8dbe-11e9-8e91-af70030b87e4.png)

[IDEDistribution.standard.log](https://github.com/ReactiveX/RxSwift/files/3283758/IDEDistribution.standard.log)
[IDEDistribution.verbose.log](https://github.com/ReactiveX/RxSwift/files/3283759/IDEDistribution.verbose.log)
[IDEDistributionPipeline.log](https://github.com/ReactiveX/RxSwift

[2019-06-13 05:59] freak4pc commented on #2009
Hey, many of the community members release production versions with RxSwift 5 so this is probably a problem with your configuration and not the library. If you need extra assistance, slack might be a better placed for that http://slack.rxswift.org

[2019-06-13 05:59] #2009 closed

[2019-06-14 03:28] fabb commented on #1999
@freak4pc secretly cooking? https://github.com/freak4pc/RxCombine

[2019-06-14 09:20] yoonhg84 commented on #1980
I also experienced the same problem.
Try the following:

[code]

[2019-06-14 11:07] iwheelbuy commented on #1980
try this way:

[code]

[2019-06-14 21:36] freak4pc commented on #1999
@fabb Sharing a repo with thousands of people is hardly a Secret ;D

[2019-06-17 05:56] LGCooci opened #2011 "What do you think of Combine?"
RxSwift is  a great three-party repository and I love it so much ! But What do you think of Combine? What should I need todo for future for my project!
https://developer.apple.com/videos/play/wwdc2019/722/

[2019-06-17 07:25] qkzhu commented on #2011
You can refer the discussion in #1999

[2019-06-17 08:00] #2011 closed

[2019-06-17 13:41] DamienBallenghien commented on #1972
@georgescumihai do you build your test archive from your Mac on from a CI ?
If you are doing it from a CI, could you share your solution ?

Thank you by advance !

[2019-06-17 14:51] georgescumihai commented on #1972
@DamienBallenghien we are using a CI that builds our SDK based on a hook.
Some of our frameworks have RxSwift as a dependency in Link Binary with Frameworks.
After everything is built, we have a script that copies RxSwift together with our frameworks.
We release our SDK through cocoapods specs and we add RxSwift in the subspesc.vendored_frameworks together with our frameworks.

[2019-06-18 14:48] alinekborges commented on #1999
@kzaher

Future is like single :)

https://developer.apple.com/documentation/combine/publishers/future

[2019-06-18 18:59] kzaher commented on #1999
@alinekborges

It's an attempt, but `Combine.Publishers.Future` has the usual promise/future failed design elements (no cancellation, imperative evaluation, ...). Practical code snippets are underneath.

I don't understand why on earth have they done this.

Here are some practical differences (at least from what I can see on my machine with Xcode Version 11.0 beta (11M336w)).

[code]

[code]

[cod

[2019-06-18 19:46] freak4pc commented on #1999
It seems to me it _should_ allow cancellation, if it has a custom Subscription that handles that Cancellable. In general, doing resource management in Combine seems much more verbose and involved when comparing to our good-ol' DisposeBag and flatMapLatest.

[2019-06-19 09:25] longjianjiang commented on #1999
[code]

I think, since the Swift ABI is stable, `Combine` is a Swift framework on the user's iOS system. So its least supported version is iOS 13.

[2019-06-19 09:29] wfs498121294 commented on #1967
dyld: Library not loaded: @rpath/RxCocoa.framework/RxCocoa
  Referenced from: /var/containers/Bundle/Application/A76FECA0-B597-4153-9BAF-E857A1624CD2/RxExample-iOS.app/RxExample-iOS
  Reason: image not found

[2019-06-19 14:52] akarnokd commented on #1999
What I don't fully understand is why `receive(Input)` returns a demand. The Reactive Streams design uses the fire-and-forget principle so callers don't have to wait and implementors don't have to block or juggle some value to return. If it is for request management, that's what `Subscription.request` is for, which can be called synchronously or asynchronously.

Also, does Apple release the source

[2019-06-19 18:55] kzaher commented on #1999
@akarnokd

Sometimes, if you are lucky. https://github.com/apple

[2019-06-19 18:56] freak4pc commented on #1999
It's highly unlikely in this case, though /:
Which also means Combine under Linux is not realistic, unless we'll get some surprise around this.

[2019-06-19 19:20] freak4pc commented on #1967
Locking. If anyways has any other issues, please open a new issue.

[2019-06-19 23:08] MortyMerr opened #2013 "Move FATAL_SYNCHRONIZATION to Hooks enum"
I can see only one usage of `FATAL_SYNCHRONIZATION` compiler flag. It is not so easy to add/delete compiler flags via Cocoapods, I would prefer to have simple bool flag.
I suggest moving it to Hooks enum, where all other debug settings placed. Consistency of settings also will be improved.  And refactor `synchronizationError` like this:
[code]
What do you think?

[2019-06-20 14:39] freak4pc commented on #2013
It sounds interesting but I think it breaks the public interface, so it would be tricky to entirely rename it.

[2019-06-21 16:13] MortyMerr commented on #2013
I can’t find any mentions of that flag in docs. So, it looks like a hidden feature.
I understand your concern about public interface. But simple bool flag instead of compiler flag is easier to use. Moreover this approach is already used in `Hooks` for another debugging feature.
Is it possible to have both options for now? What do you think?

<sub>Sent with <a href="http://githawk.com">GitHawk</a><

[2019-06-21 19:06] freak4pc commented on #2013
We can _technically_ have both. But I'm not sure it should be this easy to turn this off, as it's a precaution, not really a "feature" like recording an error stack

[2019-06-23 14:54] wujunyang opened #2015 "RxSwift28SerialDispatchQueueSchedulerCMa"
dyld: lazy symbol binding failed: can't resolve symbol _$S7RxSwift28SerialDispatchQueueSchedulerCMa in

XCode 10.1  I don't know why I reported this mistake. Can I help you?

[2019-06-23 17:02] freak4pc commented on #2015
Hey,  we can't help with this little information. Please provide extra info.

[2019-06-26 14:12] Sajjon opened #2016 "RxJava: `lastOrError` in RxSwift?"
**Short description of the issue**:

How can I get the same behaviour as RxJava's [`lastOrError`](https://github.com/ReactiveX/RxJava/wiki/Filtering-Observables#lastorerror)?

**RxSwift/RxCocoa/RxBlocking/RxTest version/commit**
RxSwift version: `4.4.2`

**Platform/Environment**

  - [x] iOS
  - [ ] macOS
  - [ ] tvOS
  - [ ] watchOS
  - [ ] playgrounds

**Xcode version**:

[code]

**Installation

[2019-06-27 01:00] #2015 closed

[2019-06-27 08:06] aqjune opened #2017 "Compiling RxSwift raises 'incompatible with weak references' error"
**Short description of the issue**:

Compiling RxSwift with Swift Development Snapshot 2019-06-20 Toolchain raises `'NSTextView' is incompatible with 'weak' references` error.

**Expected outcome**:

Should compile without errors

**What actually happens**:

Compilation error with the message above appears at RxCocoa/macOS/NSTextView+Rx.swift :

[code]

**Self contained code example that reproduce

[2019-06-27 08:06] freak4pc commented on #2017
@aqjune Does it compile on the latest public Swift? If yes, that might be a compiler bug to file and not one in RxSwift.

[2019-06-27 08:24] freak4pc commented on #2017
It builds with no compile issues for me on Xcode 11b2 with the Swift version bundled with it. As I mentioned, we don't deal with development snapshot because they're buggy and not representing Swift or RxSwift itself. Closing for now but let me know if there's any thing else :)

[2019-06-27 08:24] #2017 closed

[2019-06-27 14:15] marciogranzotto commented on #1824
Actually, that does not work if all observables throw errors.
Here's the updated version:
[code]

[2019-07-01 16:21] AlexisQapa opened #2021 "Crash at [RxCocoa.RxTextViewDelegateProxy keyboardInputChangedSelection:]"
**Short description of the issue**:
Fatal Exception: NSInvalidArgumentException
-[RxCocoa.RxTextViewDelegateProxy keyboardInputChangedSelection:]: unrecognized selector sent to instance 0x17939660

**Expected outcome**:
No crash

**What actually happens**:
I get a crash written above in the short description.
Here is the stack trace:
Fatal Exception: NSInvalidArgumentException
0  CoreFoundation

[2019-07-02 10:02] AlexisQapa commented on #2021
I found something in my code that might be the cause. I'll close this while investigating

[2019-07-02 10:02] #2021 closed

[2019-07-02 17:00] acecilia opened #2024 "The SharedSequence initializer is inaccessible due to 'internal' protection level"
I am implementing a struct wrapper around `BehaviorRelay`. I called it `MutatingBehaviorRelay`. The main difference is that the access control level used to declare a `MutatingBehaviorRelay` is associated with the mutability of the underlying `BehaviorRelay` (yes, for MVVM).

I came this far:

[code]

I found a problem when converting the `MutatingBehaviorRelay` to a `Driver`. I want to keep the u

[2019-07-02 21:26] freak4pc commented on #2024
Hey @acecilia - I think that there was some discussion around this around here and there was some preference not to expose this sort of internal initializer because it only serves a very small percentage of the "population". I'm not entirely sure of the full reasoning as it was a long time ago, but we can re-open for discussion with @kzaher and others.

PS I don't think the name of your object is

[2019-07-02 21:34] acecilia commented on #2024
@freak4pc thanks for your answer. Yes, I am not 100% happy with the name yet, it was the first thing that came to my mind when putting it down ;P. If you have a better idea for it let me know!

[2019-07-02 21:38] freak4pc commented on #2024
Second downside of a `var` based object is that you could replace *the entire* relay, breaking any ongoing subscribers. Just seems like a lot of holes using it this way (IMO). Mutability has dangerous paths that require more thinking and API Design.

[2019-07-02 21:48] acecilia commented on #2024
You are 100% right. That is another downside of this approach that I am not happy with. Still thinking about how to do this. Declaring the relay as `private(set) var` will limit the possibilities of replacing the entire relay, but does not solve the problem completely.

My goal with this is to do something that has been already discussed in RxSwift before:
- Provide an `accept()` method that can o

[2019-07-03 06:46] garritfra commented on #1477
Old issue, but [this](https://stackoverflow.com/a/48303519/9046809) thread solved it for me. basically you have add the `onError:` closure, and the compiler will point out the correct error message.
[code]

[2019-07-03 10:39] freak4pc commented on #2024
I think this would be outside the scope of RxSwift unfortunately. I suggest moving this discussion to our Slack, since it's not really something wrong with the library itself. Closing this for now but let me know if you feel this should be reopened.

[2019-07-03 10:39] #2024 closed

[2019-07-03 10:42] acecilia commented on #2024
If you think that the internal protection level in the `SharedSequence` init is ok, then its fine to close it. Thanks!

[2019-07-04 10:26] mukeshlokare opened #2025 "Fatal error: Binding error to behavior relay: objectDeleted: file"
I am facing issue on,
Xcode 10.2.1
macOS Mojave 10.14 .5

Fatal error: Binding error to behavior relay: objectDeleted: file /Users/webwerks/Desktop/Monster/iOS/monstar_mukesh/project_name/Pods/RxCocoa/RxCocoa/Common/Observable+Bind.swift, line 90
2019-07-04 15:42:33.074374+0530 target_name[2731:1953909] Fatal error: Binding error to behavior relay: objectDeleted: file

*Note*
For macOS High Sierra

[2019-07-04 12:16] freak4pc commented on #2025
Please follow the issue template and provide additional code (preferably, reproducible). Otherwise we won't be able top help as this doesn't seem like an issue inside RxSwift.

[2019-07-04 12:36] mukeshlokare commented on #2025
Hey, Thanks for reply Can I connect you on skype. I can't share the source code.

[2019-07-04 12:54] freak4pc commented on #2025
No, sorry, we don't provide private tech support for people :)

If this is an issue with the framework itself that you can reproduce, please open a new issue with code. If you have a specific issue with your own code base, it's better to use Slack or other support channels (http://slack.rxswift.org).

[2019-07-04 12:54] #2025 closed

[2019-07-04 14:24] mukeshlokare commented on #2025
What I suspect is,

[code]

& Following change has fixed my issue,

[code]

Thanks for suggestion 👍

[2019-07-04 15:17] kzaher opened #2026 "Figure out how to add tests for breaking the ABI backwards compatibility."
Somebody knows how can we do this?

[2019-07-04 15:19] AlexisQapa commented on #2021
The bug was on my side.
For anyone getting here from Google, I was indirectly setting a textview as its own delegate.

[2019-07-04 17:27] LucianoPAlmeida commented on #2026
@kzaher I don't know exactly how to do it, but looking to the apparently way the swift tests the stability of the ABI/API of the swift standard library. Seems like a way to do it after swift 5.1 (that have module stability) to compare the swiftinterface files for the module. Before the module stability they seems to dump the module interface to a Json format and compare them. I'm not 100% sure abo

[2019-07-07 08:05] trainvnexlesoft commented on #1907
Any update about this? I'm facing with `TestScheduler ` plz help

[2019-07-07 08:45] freak4pc commented on #1907
Still not an RxSwift bug ... this is on Apple's side as far as we can understand.

[2019-07-08 07:49] nguyentrai2011 commented on #1907
Finally i found the solution in my case. I'm update my pod file structure
**FROM:**
[code]
**TO**
[code]

[2019-07-08 10:43] BoxDengJZ opened #2029 "I got a similar problem."
I got a similar problem.

[code]

_Originally posted by @mironal in https://github.com/ReactiveX/RxSwift/issues/1965#issuecomment-489894192_

[2019-07-08 11:15] freak4pc commented on #2029
Please look at the other comments there, you're probably not importing RxRelay - It's now a separate dependency and you'll need it to use RxCocoa.

[2019-07-08 11:15] #2029 closed

[2019-07-08 15:59] kzaher commented on #2026
@freak4pc

I guess I can see these cases. There could potentially be more:
* If we want to distribute binaries in RxSwiftCommunity for example and we don't keep RxSwift ABI stable then the released binaries will break for using different versions.
* If somebody makes a closed source binary which is depending on RxSwift and wants to redistribute it. The consumer of the closed source binary will mak

[2019-07-08 15:59] kzaher commented on #2026
@LucianoPAlmeida Thanks, I would need to take a look.

[2019-07-09 01:28] LucianoPAlmeida commented on #2026
One case related to that may be a client that import two closed binary libraries A and B that depends on different versions of RxSwift. So if without ABI to guarantee backward compatibility, that client might not be able to build it because that one that depends on the old version might not be able to link against the Rx binary if it has changed the ABI.

[2019-07-15 12:27] DanboDuan opened #2035 "DelegateProxy bug"
**Short description of the issue**:

There is a bug in RxCocoa when UIScrollView's delegate is swizzled

**Expected outcome**:

  UIScrollView.rx.delegate or   UIScrollView.rx.setDelegate should work

**What actually happens**:
 if I hook the delegate, the RxCocoa works wrong

**Self contained code example that reproduces the issue**:

The `BDWebViewDecorator` is subclass of NSProxy to decorate th

[2019-07-18 11:07] mariohahn commented on #2004
+1

[2019-07-20 22:06] noahsark769 commented on #2004
Looks like that PR was closed. Any word on another one being open yet? I could possibly look into this, but I probably won't have time for a while.

[2019-07-23 15:28] sochalewski opened #2040 "SharingScheduler.mock(scheduler:action:) does not work"
**Short description of the issue**:

`SharingScheduler.mock(scheduler:action:)` does not override scheduler to a given, mock scheduler.

**Expected outcome**:

Observables that use main schedulers are testable with `TestScheduler` and `SharingScheduler.mock(scheduler:action:)`.

**What actually happens**:

`TestableObserver` does not record events.

**Self contained code example that reproduces th

[2019-07-23 15:35] freak4pc commented on #2040
SharingScheduler is for testing SharedSequences such as Driver and Signal - I don’t see you using any of these here.

[2019-07-23 17:53] sochalewski commented on #2040
You're right, I overlooked this. Thank you for your assistance!

[2019-07-23 17:53] #2040 closed

[2019-07-23 22:06] shial4 opened #2041 "Compile issues with Xcode 10.3"
After updating to Xcode 10.3
Removing derived data, reinstalling Cocoapods. Restarting computer. I have this problem:

**Expected outcome**:

  Compile

**What actually happens**:

I did nuke Cocoapods, ruby installations. Restarted  Xcode, my machine, deleted all the files like derived data and so on so on.

After all I am stuck here:

**Self contained code example that reproduces the issue**:

[

[2019-07-23 22:58] shial4 commented on #2041
Ohh I think I got it!
There were made breaking changes:
[issues 1543](https://github.com/ReactiveX/RxSwift/issues/1543)

Solution

instead of

Which is single object not observable

[2019-07-23 23:01] #2041 closed

[2019-07-25 09:43] mnimants commented on #1376
Hey! Did you ever find solution to this? I'm struggling with the same thing using RxASDataSources

[2019-07-26 05:28] furkanvijapura opened #2043 "Unable to set background image for UICollectionView Swift 4"
### I'm trying this for set background image for UICollectionView Swift 4 or later

1. Add This extension in your code out of main class
[code]

*2. How to use*

    if Data.count == 0 {
      self.collectionView.setEmptyMessage("set the message", UIImage(named: "imageName"))
    } else {
      self.collectionView.restoreBackgroundView()
    }

[2019-07-26 05:29] #2043 closed

[2019-07-26 05:29] furkanvijapura commented on #2043
-

[2019-07-27 15:27] DanboDuan commented on #2035
sample project here https://github.com/DanboDuan/SwiftDemo

[2019-07-31 17:42] LucianoPAlmeida commented on #2026
@kzaher @freak4pc
Found two files that maybe relevant to this discussion.
One is the [Library Evolution](https://jrose-apple.github.io/swift-library-evolution/)
And the other is the [swift-api-digester](https://github.com/apple/swift/blob/4db3938f78c3beeb2e0da2c618818267de302ad2/tools/swift-api-digester/swift-api-digester.cpp#L13). It is the implementation file, but it has an overview on the tool.

[2019-08-02 06:51] pradeepvoleti opened #2045 "Bidirectional binding issue"
**Short description of the issue**:

I am doing Bidirectional binding between TextInput(UITextField) and BehaviorRelay(Model String). And subscribing both to observe the changes in textfield and model.

In a scenario where I keep breakpoints in the subscribe closure and tap backspace once on text in UIText field, both the subscriptions are called twice and two letter are removed from textfield. If

[2019-08-02 07:15] freak4pc commented on #2045
Hi,

this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://slack.rxswift.org/ or some other more appropriate communication channel.

We are asking this because:

* we can't scale development of this project if people are reporting false issues and we are spending lot of time answering those

[2019-08-02 07:15] #2045 closed

[2019-08-02 23:07] kzaher commented on #2026
@LucianoPAlmeida
I think that's what we need :)

[2019-08-03 21:09] iamDecode commented on #2004
PR https://github.com/ReactiveX/RxSwift/pull/2012 fixes this and was merged into the develop branch. The API for Catalyst isn't stable so I do not expect this to land in a release before Xcode 11 stable is released. For the time being you can use the develop branch.

[2019-08-03 21:30] freak4pc commented on #2004
@iamDecode is right here. Feel free to target develop and well make a proper release once GM it out. Closing this for the time being.

[2019-08-03 21:30] #2004 closed

[2019-08-03 21:32] noahsark769 commented on #2004
Awesome, thanks for the work here!

[2019-08-05 16:46] anamarta86 opened #2046 "Couldn't IRGen expression, no additional error"
With 5.0.1 version when use `po` on debug console I get this error `Couldn't IRGen expression, no additional error`. On 5.0.0 this doesn't happen.

**Platform/Environment**

  - [ x] iOS
  - [ ] macOS
  - [ ] tvOS
  - [ ] watchOS
  - [ ] playgrounds

**How easy is to reproduce? (chances of successful reproduce after running the self contained code)**

  - [ x] easy, 100% repro
  - [ ] sometimes, 1

[2019-08-05 16:49] freak4pc commented on #2046
Hey there. Seems to me this is a bug for the Swift/Debug Tooling team and not this project. I’d open a reproducible sample on https://bugs.swift.org.

With Carthage, 5.0.0 is a static library and 5.0.1 is a dynamic library. There’s no other difference (for SPM and CocoaPods there should be no difference).

[2019-08-05 17:08] anamarta86 commented on #2046
thanks for your help

[2019-08-05 17:49] #2046 closed

[2019-08-07 09:32] iandric commented on #1206
@HayTran94 Actually, we can write something slightly better:
[code]
Compiles fine on my machine.

[2019-08-08 00:21] g-enius opened #2047 "flatMap: Cannot convert return expression of type 'Observable<_.Element>' to return type 'Observable<String>'"
**Short description of the issue**:

 Swift  Compiler will complain if I leave return type implicitly inferred. But it works fine for map.

**Expected outcome**:

flapMap should be compiled same as map if return type is empty.

**What actually happens**:

Doesn't compile

**Self contained code example that reproduces the issue**:

[code]

[2019-08-08 04:18] freak4pc commented on #2047
Hey, please file a bug with the Swift Compiler team (https://bugs.rxswift.org). This isn’t related to RxSwift itself.

[2019-08-08 04:18] #2047 closed

[2019-08-08 12:50] jcavar opened #2048 "Weird behaviour of share operator on UISegmentedControl observable"
**Short description of the issue**:

Using `share` operator on `UISegmentedControl` `selectedSegmentIndex` observable emits duplicated events on subscribe.

**Expected outcome**:

[code]

**What actually happens**:

[code]

**Self contained code example that reproduces the issue**:

[code]

**RxSwift/RxCocoa/RxBlocking/RxTest version/commit**

4.3.1

**Platform/Environment**

  - [x] iOS
  - [ ] m

[2019-08-08 12:53] freak4pc commented on #2048
Hi,

There isn't anything unexpected with your code as far as I can tell. I also don't recommend using `.forever` for most things. (any reason for this?)

In any sense, this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://slack.rxswift.org/ or some other more appropriate communication chann

[2019-08-08 12:53] #2048 closed

[2019-08-08 13:29] jcavar commented on #2048
How is it expected that the same event is triggered 2 times?
Isn't expected behaviour of share operator to replay only latest value(with buffer 1)?

I am using `.forever` because I want to replay latest value even if all subscribers unsubscribe and then subscribe again.

[2019-08-08 13:30] jcavar commented on #2048
Also, I asked this question on Slack channel and other member agrees that this is weird behaviour and that it is worth opening an issue.

[2019-08-08 13:49] freak4pc commented on #2048
Hey there - I've answered some of your questions on Slack.

In general `.forever` isn't guaranteed to do what you want - it can *potentially* replay stale values, please read the documentation. In general using `.forever` as if it was a caching mechanism, it's not something you should rely on and as far as I know it's not meant for this.

[2019-08-12 11:32] netbe opened #2049 "RxCocoa 5.0.1 not available via Cocoapods"
**Short description of the issue**:

5.0.1 version is not available in Cocoapods.

**Expected outcome**:

Should be able to install via Cocoapods

**What actually happens**:

[code]

**Platform/Environment**

  - [x] iOS
  - [ ] macOS
  - [ ] tvOS
  - [ ] watchOS
  - [ ] playgrounds

**How easy is to reproduce? (chances of successful reproduce after running the self contained code)**

  - [x] easy

[2019-08-12 11:33] freak4pc commented on #2049
5.0.1 solves a Carthage-specific issue.

5.0.0 and 5.0.1 are identical as far as CocoaPods, SPM and Submodule integrations are concerned.

[2019-08-12 11:33] #2049 closed

[2019-08-12 21:04] zdnk opened #2050 "Debounce condition"
Hello,
I have sequence that generates `String?` I would like to pass it in the chain right away if it is `nil`, but debounce if it is anything else.

Example code:
[code]

This code debounces all values.
What would be the right way to achieve the described solution?

[2019-08-12 21:29] freak4pc commented on #2050
You can debounce or not inside a flatMap based on the input.

Regardless,

this doesn't look like an issue with the project itself but more of a "how do I do XXX" question.
Please ask these kinds of questions in our slack channel http://slack.rxswift.org/ or some other more appropriate communication channel.

We are asking this because:

* we can't scale development of this project if people are r

[2019-08-12 21:29] #2050 closed

[2019-08-13 02:02] LucianoPAlmeida commented on #2026
@kzaher Yeah, but it has no much information about the tool itself or how to use it :((
As far as I could tell, it's tied to the swift project test suite and I'm not sure if is possible to use for code outside the swift project. I was thinking of maybe open a question on the forums?

[2019-08-13 13:24] apinhopt commented on #649
Hey there guys,

I have the same issue when binding to a BehaviourRelay. The Japanese highlighting stops working.

[code]

[2019-08-19 22:23] gringoireDM opened #2052 "Cocoapods 5.0.1 release"
Not really an issue, but I see that the version 5.0.1 is not yet released to cocoapods. Any ETA on when this is going to be released? Thank you so much for your work

[2019-08-20 05:43] freak4pc commented on #2052
5.0.1 is a Carthage only release. There are no code changes between 5.0.0 and 5.0.1.

[2019-08-20 05:43] #2052 closed

[2019-08-22 00:09] ducbm051291 commented on #1278
still noone can give the solution for this. Im in need of that swipe action too or I must have to implement it by myself :'(

[2019-08-22 09:47] gringoireDM commented on #2052
I'm sorry. I believed that 5.0.1 was adding https://github.com/ReactiveX/RxSwift/pull/1978

[2019-08-22 10:02] freak4pc commented on #2052
Fair point, we should probably release a 5.1.0 with some additions soon, let's wait a bit to see if we can accumulate any other PRs/changes.

[2019-08-25 09:19] g-enius opened #2053 "CombineLatest don't take the latest values after retry"
**Short description of the issue**:

CombineLatest/Zip/WithLatestFrom don't take the latest values after retry. I have to add the below commented out extra logics to make it dynamically calculated which looks very bizarre.

**Expected outcome**:
After retry, I would expect all the income observables will be re-calculated.

**What actually happens**:

The values of the input observables are cached.

[2019-08-25 09:21] g-enius commented on #2053
To be more clearly,
The current workaround is:
func foo() -> Observable<Double> {
    return Observable.just(Date.timeIntervalSinceReferenceDate).debug()
        .flatMap{ _ in
            //can't just return Observable.just($0), as it will always return cached value
            return Observable.just(Date.timeIntervalSinceReferenceDate)
        }.debug()
}

[2019-08-25 19:18] kzaher commented on #2053
The code is behaving exactly like as designed.

Observable.just means always return this value. It doesn't matter that `Date.timeIntervalSinceReferenceDate` depends on time. `Just` operator can't know this fact.

If you want for the `Observable.just` value to be calculated on subscription use `deferred`.

[code]

[2019-08-25 19:18] #2053 closed

[2019-08-25 22:58] g-enius commented on #2053
Thanks, @kzaher for your prompt reply and providing a working solution.

I was thinking it was because of CombineLatest, as when I simply subscribed Observable.just multiple times, like below codes. It did return the latest values. Thus, I believed it would work the same if it got re-subscribes after retry, but it turned out not. So I blamed CombineLatest which cached the old value.

[code]

[2019-08-26 02:36] tuyuan2012 opened #2054 "What is the performance of RxSwift?"
Our project uses the MVVM architecture and has recently been prepared to use RxSwift on a large scale. But We worry about the performance of RxSwift.
Thanks very much!

[2019-08-26 12:20] freak4pc commented on #2054
Hey Tony. We don't offer any official comparative benchmark. There's a benchmark target in the RxSwift project which is meant only for validating any regressions in performance.

RxSwift is used in high-scale production code by some of the biggest companies in the industry. If you have any specific performance concerns, you should run your own benchmark against your own use case to make sure it's

[2019-08-26 12:20] #2054 closed

[2019-08-29 09:23] voyage11 opened #2055 "ITMS-90809: Deprecated API Usage - UIWebView"
We identified one or more issues with a recent delivery for your app, APP_NAME. Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

After you’ve corrected th

[2019-08-29 09:43] freak4pc commented on #2055
Thanks @voyage11,

We had a similar issue specific for Catalyst which was fixed in #2012 , but it seems like we need to entirely remove UIWebView APIs based on this warning. Not sure how to do this since we just released a major version. But also not sure it's something we'll want to do as long as this is purely a warning.

@kzaher Not sure if we should aim for removal or maybe compile-time flag t

[2019-08-29 11:23] mwoollard commented on #2055
Just hit this too and came to file issue but @voyage11 beat me to it. My understanding is if your app targets iOS 8 or later they will at some point reject apps that reference it. If app still targets iOS version earlier than iOS 8 you can still include references. Since RxCocoa targets 8.0 probably best to just remove.

[2019-08-29 12:38] freak4pc commented on #2055
Given semantic versioning, we can’t simply pull out an interface like this easily. I think we’ll need to give some more thought to the best way to solve this.

[2019-08-29 14:11] martipello commented on #2000
i had this issue removed the duplicate from Targets/embed frameworks highlight duplicate and remove with the minus button, this obviously isnt a solution but a work around for anyone with the issue

[2019-08-29 20:33] kzaher commented on #2055
Is it because of this https://github.com/ReactiveX/RxSwift/blob/6b2a406b928cc7970874dcaed0ab18e7265e41ef/RxCocoa/iOS/UIWebView%2BRx.swift

Can somebody locate the problem?

[2019-08-29 20:33] freak4pc commented on #2055
Yup it's because of that - they recognize the symbol used in the deployed app

[2019-08-29 20:38] kzaher commented on #2055
Why is this a problem? Doesn't ` !targetEnvironment(UIKitForMac)` work? Do we need a new flag?

[2019-08-29 20:40] freak4pc commented on #2055
No - UIKitForMac is specific for Catalyst; what this message is saying is that basically Apple will reject every app where it detects the UIWebView symbol because they want people to migrate to WKWebView, instead. We don't know _when_, but it will happen relatively soon IMO.

Every compiler flag will have to be backwards-compatible (e.g. opt-in) which makes the usability of this really harsh, but

[2019-08-29 20:47] kzaher commented on #2055
Hm, I think that they would need to release a new major version of the iOS, right?

If they are removing UIWebView from the iOS and they will be blocking anyone from releasing an app referencing UIWebView, then we will need to do something this Autumn. If they won't remove it, then we don't need to do anything.

I would wait and see what will happen. Predicting the future is tricky.

Ideally we wo

[2019-08-29 21:32] freak4pc commented on #2055
Would be horrible releasing RxSwift 6 just because of this; what a waste of major bump :) I think they plan to start enforcing this in iOS 13, that's the issue.

We might have to provide some opt-in flag just so we can stay on 5.x while still allowing to turn off these symbols.

[2019-08-29 23:44] mattgallagher commented on #2055
I started getting the same warning two days ago. I hope they don't start enforcing as an error from iOS 13 (would seem like an over-aggressive rate of change).

[2019-08-30 07:53] clementprem commented on #2000
I have the same issue. The build was rejected after uploading to Appstore connect with the following message

uploading the build after the changing the bundle identifier of RxSwift framework inside watch extension worked

[2019-08-30 08:50] okj-exerp commented on #2055
We can hope but we must assume that they will do just that. There is a fair chance that Apple is disturbing this Rx community because they want more apps to use Combine instead?!

[2019-08-30 09:56] freak4pc commented on #2055
There's not a chance in this world it's related to this :)
Pushing Combine doesn't make Rx redundant, nor does the other way around.

Regardless, I think we need to be on a holding stance here and act only when they start actually rejecting apps and try to plan around this.

[2019-08-30 16:00] michallaskowski opened #2057 "Test target does not build when RxCocoa Swift Package is used"
**Short description of the issue**:

  When RxCocoa is used in a project in Xcode 11, and it is imported as RxSwift package, unit tests for that project do not build, with following error:
[code]

I am not an expert on Swift Packages, just starting with it. I see RxCocoaRuntime is declared as a target in Package.swift, and RxCocoa depends on it. But it is not declared as a product.
This may be als

[2019-09-01 12:01] kzaher commented on #2055
I appreciate the sentiment, but my money is that they need all of the brain power to fix keyboard gate and not scheming how to destroy non profit projects. If this was true even I would applaud it and laugh.

Lets wait until the new os is out. In the worst case we can quickly release a new build and bump up major version.

[2019-09-02 09:45] michallaskowski commented on #2057
I created a fork of RxSwift, and declared RxCocoaRuntime as a product/library. Linking RxCocoaRuntime with test targets makes it possible to build the target. But tests do not get launched, it seems RxSwift symbols are included in both host app, and test target because RxCocoaRuntime depends on RxSwift.
The same happens when RxCocoa is not imported and tests build, but RxTest or RxBlocking is link

[2019-09-03 07:45] lijie121210 commented on #2057
Also troubled by this problem 💔

[2019-09-03 08:42] nodediggity commented on #2057
Having this issue also

[2019-09-04 02:13] dlewanda commented on #2000
@clementprem my project has the same issue. How did you change the bundle identifier just for the framework inside the watch extension?

[2019-09-04 02:20] jklp commented on #2000
Quite a few libs have run into this problem recently - Alamofire seems to be just adding `$PLATFORM_NAME` to the bundle e.g. `org.alamofire.Alamofire.${PLATFORM_NAME}`.

https://github.com/Alamofire/Alamofire/issues/2925#event-2605013149

@dlewanda What I've done is temporarily run a little script in our build process which does a find/replace for watchOS targets - very hacky but gets our builds t

[2019-09-04 11:21] tarbayev commented on #2055
I believe, marking `UIWebView` extensions with proper [@available](https://docs.swift.org/swift-book/ReferenceManual/Attributes.html) attribute would solve the problem. No major version release needed.

[2019-09-04 11:26] dlewanda commented on #2000
@jklp thanks for chiming in. I was looking to make a similar change to the one you describe Alamofire as making in my fork of RxSwift, but I didn’t see how that would work as the framework is universal without platform-specific targets.

Can you explain in more detail what your scrip is doing, and when in the build process it is run? We are using Carthage to pull the binary for the 4.5.0 release d

[2019-09-04 11:27] freak4pc commented on #2055
@tarbayev That's not how semantic versioning works - you can't remove support for a symbol without releasing a major version.

[2019-09-04 12:16] clementprem commented on #2000
@dlewanda we also moved to a script.
I did the following to make it work
1. Archive the build
2. Open the Archive changed the bundle identifier of RxSwift framework inside the watch extension
``` /Users/<user>/Library/Developer/Xcode/Archives/2019-08-29/<AppName>\ 2019-08-29,\ 18.39.xcarchive/Products/Applications/<AppName>.app/Watch/<AppName>\ WatchKit\ App.app/PlugIns/<AppName>\ WatchKit\ Extens

[2019-09-04 15:26] clementprem commented on #1907
Found this in Xcode 11 beta 7 release note

[2019-09-04 18:54] dlewanda commented on #2000
Thanks for the details @clementprem - our app is built by Fastlane via CI so it'd be a challenging manual step to intercept it and make this change without automating it. We can try it in the meantime, but if anyone has a path forward on automating that process, I'd appreciate any tips!

[2019-09-05 10:11] acecilia opened #2058 "Is there any plan on supporting that transformations on PublishRelay/BehaviourRelay return also PublishRelay/BehaviourRelay?"
Hello:

**Short description of the issue**:

When transforming `PublishRelay`/`BehaviourRelay` the return type is `Observable` instead of `PublishRelay`/`BehaviourRelay`.

In the following code:

[code]

**Expectation:**

`mappedPublishRelay` is of type `PublishRelay<Int>`

**Reality:**

`mappedPublishRelay` is of type `Observable<Int>`

**Precedents**:

When transforming a `Driver`, the returning

[2019-09-05 15:04] AlexisQapa opened #2059 "FR: Scan into for SharedSequence / Driver"
**Short description of the issue**:

The is no scan operator with into parameter for SharedSequence / Driver.
There was an issue / discussion to add it Observable here: https://github.com/ReactiveX/RxSwift/issues/1667 and it was accepted.
Is there a reason it is not available for SharedSequence ?

**RxSwift/RxCocoa/RxBlocking/RxTest version/commit**
5.0.1

**Platform/Environment**
  - [X] iOS

**X

[2019-09-06 23:06] SunnyGit commented on #2055
@freak4pc  When is it expected to come out as apple is rejecting push to App Store.

[2019-09-07 01:45] freak4pc commented on #2055
Did you get an actual rejection or just a warning like above ? Can you share the message ?

[2019-09-07 04:16] jklp commented on #2000
@dlewanda Yep we're on fastlane too so it's a 2 part-er

Pt.1) In `./fastlane/fastfile` added this line after the `carthage()` command

[code]

Pt.2) Create a the `./update_bundle_id.sh` file, which contains this:

[code]

It literally edits the built in `RxSwift.framework` for watchOS and manually replaces the bundle identifier in the plist.

Very very hacky but seems to do the trick.

[2019-09-08 12:39] zishanj commented on #2055
I am came to this warning while beta testing my app. The warning came from these files `Deprecated.swift`, `RxWebViewDelegateProxy.swift` and `UIWebView+Rx.swift`. Any update on timeline for its fix?

[2019-09-08 14:09] dlewanda commented on #2000
Thanks @jklp - we went with an Xcode build phase but with the similar idea. It got through processing, submission and was approved for release. Definitely seems hack-tastic and suboptimal. I hope either Apple retracts the change or comes out with an explanation, but I'm not holding my breath 🤷‍♂ 🤦‍♂

[2019-09-09 03:02] alfredcc commented on #2055
Dear Developer,

We identified one or more issues with a recent delivery for your app, "xxx" 1.0 (4). Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

Aft

[2019-09-09 09:06] damienpraca commented on #2055
Accepted on testFlight but rejected for official submission

[2019-09-09 09:07] SunnyGit commented on #2055
Same with me as well

On Mon, Sep 9, 2019 at 2:06 AM dpraca <notifications@github.com> wrote:

--
Sunil Gandham

*"The healthiest response to life is joy"*

[2019-09-09 09:31] mwoollard commented on #2055
So we have confirmed app submission rejections due to this? What is the ETA of a fix please? Will have to patch locally if more than a few days (which is OK, just useful to know timeline).

[2019-09-09 10:52] freak4pc commented on #2055
I’m traveling so would be a bit hard. I’m shocked that Apple just pulled out support for this API... @kzaher i can make the changes later today, will we actually bump major for this ? What a shame :(

[2019-09-09 11:02] freak4pc commented on #2055
@damienpraca @SunnyGit please share a screenshot of your rejection. Thanks.

[2019-09-09 12:17] adarhef commented on #2055
[This guy here](https://stackoverflow.com/a/57818044/2639558) claims to have had his app accepted despite the warning.
Some more information on my experience so far:
On one app which only uses RxSwift as its sole dependency, I'm getting the warning only when uploading to TestFlight. It doesn't trigger when just uploading to App Store Connect, and I haven't tried publishing to the App Store yet.
No

[2019-09-09 19:22] arshiacont commented on #2055
Our App passed reviews despite warnings but this shouldn't slow down the migration! Once an API is deprecated and Apple wants to stop it (for whatever reason), it will happen and this is not new: We get warnings first to get prepared and later on rejections will fall.

Most other Pods (including Facebook, Branch, Amplitude, etc) have removed UIWebView dependencies and have already moved to the new

[2019-09-11 12:06] mpawlo commented on #2057
Have you found any solution to this ? @michallaskowski

[2019-09-11 19:47] kzaher commented on #2055
I wonder would it be reasonable to try to detect Xcode version and then add a conditional statement :)

How does semantic versioning relate with tooling. If you make a new version of the tool that isn't backwards compatible does that mean that the project can't remove the offending API for that tool version?

I guess this is not the situation in which we are currently and the cleanest way is to re

[2019-09-12 02:24] freak4pc commented on #2055
I’d love to put this under a compile time thing but I’m not sure if there’s any condition we could use. Perhaps if #compiler for Swift 5.1? Which would be Xcode 11? That _should_ work.  @kzaher

[2019-09-12 02:33] freak4pc commented on #2055
@arshiacont definitely not the most major reason, but definitely “A” major thing to consider. Changes like this (dropping symbols) need to be thought of, not dropped on a whim (like Apple has basically done). Currently we’re not in a rush since Apple is only warning but not rejecting (we have a lot of production RxSwift apps which were approved).

We’re eager to work this out as well, but not at a

[2019-09-13 07:43] arshiacont commented on #2055
I did more tests: you still get the warning on each new build of an App, and at least on the first binary upload. The warning disappears on successive build uploads of the same App.

To see it again, just upload the same binary under a stub App name.

This means that we should remove UIWebView and release + instruct users to freeze on 5.0.0 if they need UIWebView for some strange reason!

[2019-09-13 08:06] mwoollard commented on #2055
Incase of use, I've added this post install hook to our Podfiles, then no `UIWebView` references in your binary (at least from RxCocoa).
[code]

[2019-09-13 11:16] KashifJavaid commented on #2055
@mwoollard I have tried updating pods and amending my hooks to include your suggestion , but even then I get the same warning and I am just using WkWebView in my app.

` post_install do |installer|
  installer.pods_project.targets.each do |target|
    target.build_configurations.each do |config|
      config.build_settings['SWIFT_VERSION'] = '4.2'
      if target.name == 'RxCocoa'

[2019-09-13 11:19] KashifJavaid commented on #2055
@mwoollard I have tried with this change as well. but upon submitting I still the same warning as above , the only reference I see in my app to webView is through RxCocoa Pods .

[2019-09-13 14:19] augie09 commented on #2055
^ has this post install fix worked for anyone when submitting to Apple?

[2019-09-13 14:44] gringoireDM commented on #2055
I am 100% sure that neither we or other third parties are using UIWebViews. We still see the warning. in my experience, warnings becomes rejections.

While I understand that this message doesn't give an exact indication of when this will happen, it is **certain** that it will happen.

Possibly most of us has third parties that have RxSwift as dependency, this means that we need to consider also th

[2019-09-13 15:05] gringoireDM commented on #2055
Created a PR https://github.com/ReactiveX/RxSwift/pull/2062

[2019-09-13 16:17] Maxim-Inv commented on #2055
@mwoollard thank you. It helped me.
@augie09 I uploaded a build and there is no warning letter.

[2019-09-13 16:28] freak4pc commented on #2055
@arshiacont I have one more thought I'd love to try, if you have a moment.

I'm wondering if adding a deprecation on the extension will also prevent the warning. Would you mind trying to submit a fake app like you did before with the `webview-deprecate` branch?

Just trying to scope out the possible options (deprecation vs. removal) before we commit to anything here. Thanks !

[2019-09-13 16:37] RamblinWreck77 opened #2063 "Xcode 11 + SPM: "No such module 'RxSwift'""
Steps to reproduce:

-Make new project w/view controller

-Add https://github.com/ReactiveX/RxSwift/ via File/Swift Packages/Add Package Dependency

-add import RxSwift to view controller

-Build will fail with "no such module"

Things I've tried:

✅ Clean build/nuke derived data

✅ RxSwift is included in Frameworks, Libraries, and Embedded Content for the specified target

I could just be a moron

[2019-09-13 16:37] freak4pc commented on #2059
Hey Alexis - I'm not sure this operator makes much sense for these types. In general many Observable operators don't necessarily make sense in the contexts of other traits.

SharedSequence would be the piece you usually expose to the consumer at the end of a chain, not something you typically further manipulate in the way you describe here above.

My personal instinct is that it's not a significan

[2019-09-13 16:40] RamblinWreck77 commented on #2063
Relevant thread seemingly having similar issues:

https://forums.developer.apple.com/thread/119327

[2019-09-13 16:41] RamblinWreck77 commented on #2063
Oh wow, it appears SwiftPM has hard coded "Release/Debug" configuration names?! What?!

https://stackoverflow.com/questions/57165778/getting-no-such-module-error-when-importing-a-swift-package-manager-dependency

[2019-09-13 16:42] freak4pc commented on #2063
I just created a blank project and had no issues.

![image](https://user-images.githubusercontent.com/605076/64879426-f68ac600-d623-11e9-9bb3-289cd6547780.png)

![image](https://user-images.githubusercontent.com/605076/64879433-f985b680-d623-11e9-94e2-141a854b8464.png)

![image](https://user-images.githubusercontent.com/605076/64879444-fdb1d400-d623-11e9-9e71-881752b5176e.png)

[2019-09-13 16:49] freak4pc commented on #2063
@RamblinWreck77 If this is specific to SPM / Your project - we should probably close this. Let me know :)

[2019-09-13 16:50] RamblinWreck77 commented on #2063
I'll go ahead and close this, the cause was having a build configuration that was custom, and not Debug/Release.

Hopefully this post helps anyone else who has this problem.

[2019-09-13 16:50] #2063 closed

[2019-09-13 19:43] DenTelezhkin commented on #2063
/shrug https://bugs.swift.org/browse/SR-11328

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-13 19:47] adamhowardprice opened #2065 "Publish RxCocoa pod 5.0.1 to Specs"
The latest RxCocoa version in [Cocoapods Specs](https://github.com/CocoaPods/Specs/tree/master/Specs/3/c/1/RxCocoa) is 5.0.0, but the latest version here is 5.0.1.

I need 5.0.1 for upgrading to Xcode 11 GM.

[2019-09-13 19:59] freak4pc commented on #2065
5.0.0 is the latest version. 5.0.1 is a Carthage-only release with no code changes.

[2019-09-13 19:59] #2065 closed

[2019-09-13 20:09] adamhowardprice commented on #2065
Thanks

[2019-09-13 20:12] adamhowardprice commented on #2065
It looks like 5.0.0 was built with Swift 5.0.1. Will there be a new release built with Swift 5.1?

![image](https://user-images.githubusercontent.com/602596/64891969-4035d980-d641-11e9-9992-a1d5165150c5.png)

[2019-09-13 21:00] freak4pc commented on #2065
You said you’re using CocoaPods so there shouldn’t be any issue. Just clean and. Hold again.

[2019-09-14 15:38] freak4pc commented on #2055
Hey all !
Myself and @kzaher discussed a bit in private and here’s the solution we currently feel comfortable with.

We’ll bump the version to 5.1.0 removing the UIWebView symbols specifically for Xcode 11 (Swift 5.1 compiler). This means that users with Xcode 10.x will still have the extensions while using Xcode 11 will _not_.

This solution is in the `webview-compiler-based` branch and I’d reall

[2019-09-14 16:00] KashifJavaid commented on #2055
@freak4pc isn't Xcode 11(Beta ) the latest I can use still using swift 5.0 as I can't see an option to upgrade to swift 5.1 in build settings for Swift Language Version.

[2019-09-14 16:01] KashifJavaid commented on #2055
@freak4pc isn't Xcode 11(Beta 7 ) the latest I can use still using swift 5.0 as I can't see an option to upgrade to swift 5.1 in build settings for Swift Language Version.

[2019-09-14 16:02] freak4pc commented on #2055
It’s about the version of the compiler attached to each version of Xcode.

[2019-09-14 16:22] KashifJavaid commented on #2055
Thanks mine is showing 5.0.1 , may be because I have 3 different version of Xcode installed 10.3, 10.1 and Xcode 11(beta) as well.

[2019-09-14 16:52] gringoireDM commented on #2055
Thank you for the effort, but for various reasons, upgrade Xcode version might not be an option for some projects. Not my case, but I see it can be a problem for someone.

[2019-09-14 16:56] KashifJavaid commented on #2055
@gringoireDM  I can confirm using your branch , there are no references of UIWebView in RxSwift and I can also confirm that there no refrences to UIWebView in my project , still I got this warning from apple,  this is creepy from them 👎

[2019-09-14 17:01] gringoireDM commented on #2055
@KashifJavaid Can you share your podspec please? This is impossible. I'm thinking of some pre-compiled third party library that is making use of UIWebView. Not having the source code you would not see references to UIWebView.

[2019-09-14 17:08] Maxim-Inv commented on #2055
@KashifJavaid try to cleanup your build data and derived data. At least I did it and there were no warnings.

[2019-09-14 17:30] KashifJavaid commented on #2055
@gringoireDM
<img width="1101" alt="Screenshot 2019-09-14 at 18 30 02" src="https://user-images.githubusercontent.com/6849407/64911761-b27bec00-d71d-11e9-9c65-69bb3c0e5085.png">

[2019-09-14 17:31] mwoollard commented on #2055
We won't be upgrading to Xcode 11 just yet, would be happy to try otherwise! Thanks for the work on this though.

[2019-09-14 17:46] arshiacont commented on #2055
@freak4pc Thank you Shai for all the effort. I will be trying this ASAP, Monday latest and will let you know.

Note just that this is _not_ an XCode 11 or Swift 5.1 issue, but will apply to every build. At some point Apple will reject all binaries that include UIWebView symbols no matter where they come from.

But if this is still your preferred solution, just be aware of all the Issues that will

[2019-09-14 17:52] freak4pc commented on #2055
I'm aware of "At some point" - but that point will be likely be in a significant time anyways. The interesting part is that we've been sending a lot of builds from Xcode 10.3 machines with no warnings (with UIWebView), and only get these warnings when submitting with the iOS 13 SDK. Seems based on your comments that this is not the case for you — and that warnings occur for you on Xcode 10.x as we

[2019-09-14 17:56] arshiacont commented on #2055
@freak4pc Our initial warning came from an XCode 10.3 build. So unfortunately yes. It's just the Apple Backend who sends the warning by analyzing the symbols in the binary. So I'm pretty sure it's independent of XCode/Swift version.

[2019-09-14 18:34] kzaher commented on #2055
I think it would be wise not do to anything until iOS 13 and Xcode 11 is officially released. Otherwise we would release something which doesn't solve the problem.

[2019-09-14 18:35] kzaher commented on #2055
When they are released we can in the worst case bump the major version.

[2019-09-14 18:51] freak4pc commented on #2055
Well, the GM is out, which should theoretically be the same. But might be good to wait for September 30 when they'll officially announce the secondary update they had mentioned.

I still think we can possibly do this Xcode-11-only fix in the interim, but don't feel too strongly about it.

[2019-09-14 18:55] kzaher commented on #2055
But iOS 13 isn't, right?

It says September 19

https://www.google.com/search?q=ios+13+release+date&oq=ios+13+release+date&aqs=chrome.0.0l5j69i60.3383j1j4&sourceid=chrome&ie=UTF-8

Apple could in theory change something by then and issue a patch for Xcode 11.